@model DashBoardLibrary.DashBoardViewModel
@{
    Layout = "~/Views/Shared/Modulo-Clientes/_Modulo-Clientes-Configuracion.cshtml";
    ViewData["Title"] = "Configuración";
}

<div class="main-content m-0" id="widget-area">

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 header-section">
                <h2>@ViewData["Title"]</h2>
                @Html.Raw(ViewData["Migas"])
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                @if (Model.Model.Err.eserror)
                {
                    ViewData["err"] = Model.Model.Err.mensaje;
                    @Html.Partial("AccesoDenegado");
                }
                else
                {

                    <div class="card mb-3">
                        <div class="card-header card-header-options">
                            <span>@ViewData["Title"]</span>
                        </div>
                        <div class="card-block p-5">

                            <div class="row mb-4">
                                <div class="col-3 text-center col-conf">
                                    <figure>
                                        <a href="/modulo-clientes/configuracion/preferencias">
                                            <img src="~/flaticons/business/038-user-1.svg" style="width: 64px">
                                            <h5 class="fs-1-1 mt-2">Preferencias</h5>
                                        </a>
                                    </figure>
                                </div>
                            </div>


                        </div>
                    </div>

                }

            </div>
        </div>

    </div>

</div>
