@model MenuNotificacionesLibrary.MenuNotificacionesViewModels

<div class="notificaciones">
    <button type="button" id="" class="btn btn-submit toggle-notificaciones"><i class="fa fa-angle-right"></i></button>
</div>