@{
    Layout = "~/Views/Shared/Modulo-Contabilidad/_Modulo-Contabilidad-Cuentas-Bancarias.cshtml";
    ViewData["Title"] = "Módulo Contabilidad - Cuentas bancarias";
    ViewData["Title-Bloque-1"] = "Webs";
    ViewData["Message"] = "CMS - Gaolos App v2017";
}

<div class="main-content">

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">

                @* Movimientos bancarios por conciliar *@

                <div class="card mb-3">
                    <div class="card-header card-header-options">
                        <span>Definición de patrones</span>

                        <div class="card-actions">
                            <ul>
                                <li><a href="#" class="handle"><i class="fa fa-bars"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-block">

                        <div class="row">
                            <div class="col-2 text-center">
                                <img src="https://image.flaticon.com/icons/svg/321/321819.svg" style="width: 50%">
                            </div>
                            <div class="col-9">

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        @* Movimientos bancarios por conciliar *@
        <div class="row">
            <div class="col-9">
                <div class="card card-table">
                    <div class="card-header card-header-options">
                        <span>Listado Definición de patrones</span>
                        <div class="card-actions">
                            <div class="input-group input-group-sm col-12 mr-0 pr-0">
                                <input type="text" class="form-control form-control-sm" id="" placeholder="Nuevo patrón">
                                <span class="input-group-append">
                                    <button type="button" class="btn btn-primary btn-sm elem-plan-nueva">Nuevo</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card-block">
                        <form>
                            <table class="table table-striped table-select table-condensed" id="">
                                <thead>
                                    <tr>
                                        <th class="">Título</th>
                                        <th class="text-center">Width</th>
                                        <th class="text-center">Height</th>
                                        <th class="text-center">Sufijo SEO</th>
                                        <th class="text-center">Eliminar</th>

                                    </tr>
                                </thead>
                                <tbody id="cuenta-movimientos">
                                    <tr>
                                        <td><a href="#" class="fw-5 ver-cuenta" id="">Large</a></td>
                                        <td class="text-center"><p class="mb-0 fw-5">1980</p></td>
                                        <td class="text-center"><p class="mb-0 fw-5">1024</p></td>
                                        <td class="text-center"><p class="mb-0 fw-5">/large</p></td>
                                        <td class="text-center"><a href="#" class="text-danger"><i class="fa fa-times"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="#" class="fw-5 ver-cuenta" id="">Medium</a></td>
                                        <td class="text-center"><p class="mb-0 fw-5">1980</p></td>
                                        <td class="text-center"><p class="mb-0 fw-5">1024</p></td>
                                        <td class="text-center"><p class="mb-0 fw-5">/medium</p></td>
                                        <td class="text-center"><a href="#" class="text-danger"><i class="fa fa-times"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="#" class="fw-5 ver-cuenta" id="">Small</a></td>
                                        <td class="text-center"><p class="mb-0 fw-5">1980</p></td>
                                        <td class="text-center"><p class="mb-0 fw-5">1024</p></td>
                                        <td class="text-center"><p class="mb-0 fw-5">/small</p></td>
                                        <td class="text-center"><a href="#" class="text-danger"><i class="fa fa-times"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td colspan='5'><p class='fw-5 text-danger mb-0'><i class='fa fa-exclamation-circle mr-1'></i> No hay patrones definidos</p></td>
                                    </tr>
                                </tbody>

                            </table>
                        </form>
                    </div>
                </div>
                <div id="movimientos-cuenta-paginador" class="mb-3"></div>
            </div>

            <div class="col-3">
                
                <div class="card" id="div-man-elem" style="display: block;">
                    <div class="card-header card-header-options">
                        <span>Ajustes</span>
                        <div class="card-actions">
                            <ul>
                                <li><a href="#" class="handle"><i class="fa fa-bars"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-block" role="tablist" aria-multiselectable="true">

                        <div class="form-group row mb-1">
                            <label for="" class="col-3 col-form-label">Título</label>
                            <div class="col-8">
                                <input class="form-control form-control-sm" type="text" value="" id="" placeholder="Título">
                            </div>
                        </div>
                        <div class="form-group row mb-1">
                            <label for="" class="col-3 col-form-label">Width</label>
                            <div class="col-8">
                                <input class="form-control form-control-sm" type="text" value="" id="" placeholder="Width">
                            </div>
                        </div>
                        <div class="form-group row mb-1">
                            <label for="" class="col-3 col-form-label">Height</label>
                            <div class="col-8">
                                <input class="form-control form-control-sm" type="text" value="" id="" placeholder="Height">
                            </div>
                        </div>
                        <div class="form-group row mb-1">
                            <label for="" class="col-3 col-form-label">SEO</label>
                            <div class="col-8">
                                <input class="form-control form-control-sm" type="text" value="" id="" placeholder="SEO">
                            </div>
                        </div>
                        <div class="form-group row mb-1">
                            <label for="" class="col-3 col-form-label">Obs.</label>
                            <div class="col-8">
                                <textarea class="form-control form-control-sm mb-2" rows="4" placeholder="Observaciones"></textarea>
                            </div>
                        </div>

                        <div class="form-group text-center mb-0">
                            <a href="#" class="btn btn-primary btn-sm ">Guardar</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
