@* cabecera cliente *@

<div class="card mb-3">
    <div class="card-header card-header-options">
        <span>Web</span>
    </div>
    <div class="card-block p-0">
        <div class="d-flex justify-content-center align-items-center">
            <div class="col-1 pb-2 pt-2">
                <img src="~/flaticons/business/085-browser.svg" style="width: 100%">
            </div>
            <div class="col-11 pt-2 pb-2 box-border-left-light">
                <h5 class="fw-5 title-section">
                    Previfoc
                </h5>
                <div class="d-flex">
                    <div class="box-grey-bg">
                        <p class="mb-0"><small class="fw-5"><span class="mr-1">Alta:</span> <span class="text-danger">19/11/18  14:03 - Javier Paniello</span></small></p>
                        <p class="mb-0"><small class="fw-5"><span class="mr-1">Tipo de cliente:</span> <span class="text-danger"></span></small></p>
                        <p class="mb-0"><small class="fw-5"><span class="mr-1">Nº cliente:</span> <span class="text-danger">26436</span></small></p>
                        <p class="mb-0"><small class="fw-5"><span class="mr-1">NIF:</span> <span class="text-danger">H43288323</span></small></p>
                        <input type="hidden" value="26436" id="ID_Cli2">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>