@* cabecera cliente *@

<div class="card mb-0">
    <div class="card-header card-header-options">
        <span>Cliente</span>
    </div>
    <div class="card-block p-0">
        <div class="d-flex justify-content-center align-items-center">
            <div class="col-1 pb-2 pt-2">
                <img src="https://image.flaticon.com/icons/svg/431/431985.svg" style="width: 100%">
            </div>
            <div class="col-11 pt-2 pb-2 box-border-left-light">
                <h5 class="fw-5 title-section">
                    @Model.Model.Cab.Neg
                    @if (Model.Model.Cab.Neg!=Model.Model.Cab.NegFis)
                                {
                        <small>(@Model.Model.Cab.NegFis)</small>
                               }
                </h5>
                <div class="d-flex">
                    <div class="box-grey-bg">
                        <p class="mb-0"><small class="fw-5"><span class="mr-1">Alta:</span> <span class="text-danger">@Model.Model.Cab.Fe_Al</span></small></p>
                        <p class="mb-0"><small class="fw-5"><span class="mr-1">NIF:</span> <span class="text-danger">@Model.Model.Cab.NIF</span></small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
