@model MiEmpresaLibrary.MiEmpresaUsuariosViewModel
@{
    Layout = "~/Views/Shared/Modulo-Mi-Empresa/_Usuarios.cshtml";
    ViewData["Title"] = "Mi Empresa: Preferencias";
    ViewData["Message"] = "Página de Clientes - Gaolos App v2017";
}

<div class="main-content m-0">

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 header-section">
                <h2>@ViewData["Title"]</h2>
                @Html.Raw(ViewData["Migas"])
            </div>
        </div>
    </div>

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="card mb-3">
                    <div class="card-block p-0">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="col-12 p-4">
                                <h5 class="fw-5 title-section mb-4">Módulos con preferencias disponibles</h5>
                                <div class="row">
                                    <div class="col-conf mb-3 col-2">
                                        <figure id="trigger-asistencias-0" style="transition: all 0.3s ease-in-out 0s; transform: scale(1);">
                                            <a href="/modulo-mi-empresa/configuracion">
                                                <!--?xml version="1.0" encoding="iso-8859-1"?-->
                                                <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" class="svg-dashboard-apartado">
<g>
                                                <g transform="translate(1 1)">
                                                <rect x="186.733" y="412.52" class="svg-color-2" width="136.533" height="77.397"></rect>
                                                <path class="svg-color-5" d="M41.667,84.328h426.667c18.851,0,34.133,15.282,34.133,34.133v281.6
			c0,18.851-15.282,34.133-34.133,34.133H41.667c-18.851,0-34.133-15.282-34.133-34.133v-281.6
			C7.533,99.61,22.815,84.328,41.667,84.328z"></path>
                                                <path class="svg-color-2" d="M41.667,84.328h401.067c18.851,0,34.133,15.282,34.133,34.133v281.6
			c0,18.851-15.282,34.133-34.133,34.133H41.667c-18.851,0-34.133-15.282-34.133-34.133v-281.6
			C7.533,99.61,22.815,84.328,41.667,84.328z"></path>
                                                <path class="svg-color-5" d="M502.467,118.461v247.467H7.533l0-247.467c-0.003-9.054,3.593-17.737,9.995-24.139
			c6.402-6.402,15.085-9.997,24.139-9.995h426.667c9.054-0.003,17.737,3.593,24.139,9.995
			C498.874,100.725,502.469,109.408,502.467,118.461z"></path>
                                                <g>
                                                <path class="svg-color-2" d="M476.867,118.461v247.467H7.533l0-247.467c-0.003-9.054,3.593-17.737,9.995-24.139
				c6.402-6.402,15.085-9.997,24.139-9.995h401.067c9.053-0.003,17.737,3.593,24.139,9.995
				C473.274,100.725,476.869,109.408,476.867,118.461z"></path>
                                                <path class="svg-color-2" d="M127,468.328h256c4.713,0,8.533,3.821,8.533,8.533v17.067c0,4.713-3.82,8.533-8.533,8.533H127
				c-4.713,0-8.533-3.82-8.533-8.533v-17.067C118.467,472.149,122.287,468.328,127,468.328z"></path>
		</g>
                                                <path class="svg-color-1" d="M432.323,161.128h-34.56c-1.371-8.048-3.455-15.959-6.229-23.637l29.867-17.323
			c-6.329-15.932-14.954-30.852-25.6-44.288l-29.952,17.323c-5.251-6.275-11.048-12.072-17.323-17.323l17.323-29.952
			c-13.436-10.646-28.357-19.271-44.288-25.6l-17.323,29.867c-7.679-2.774-15.589-4.858-23.637-6.229V9.405
			c-16.975-2.503-34.225-2.503-51.2,0v34.56c-8.048,1.371-15.959,3.456-23.637,6.229L188.44,20.328
			c-15.932,6.329-30.852,14.954-44.288,25.6l17.323,29.952c-6.275,5.251-12.072,11.048-17.323,17.323L114.2,75.88
			c-10.646,13.436-19.271,28.356-25.6,44.288l29.867,17.323c-2.774,7.679-4.859,15.589-6.229,23.637h-34.56
			c-1.274,8.473-1.901,17.031-1.878,25.6h68.268c0-61.267,49.667-110.933,110.934-110.933s110.934,49.667,110.934,110.933h68.268
			C434.225,178.16,433.597,169.602,432.323,161.128z"></path>
                                                <g>
                                                <path class="svg-color-2" d="M161.133,280.595c0.004,18.887-10.393,36.242-27.047,45.15
				c-16.655,8.908-36.861,7.92-52.569-2.568l28.416-42.581l50.432-8.448C160.882,274.933,161.14,277.761,161.133,280.595z"></path>
                                                <path class="svg-color-2" d="M109.933,229.395v51.2l-28.416,42.581c-18.766-12.518-27.126-35.844-20.584-57.433
				C67.474,244.155,87.376,229.392,109.933,229.395z"></path>
                                                <path class="svg-color-2" d="M160.365,272.147l-50.432,8.448v-51.2C134.927,229.422,156.247,247.495,160.365,272.147z"></path>
		</g>
                                                <rect x="263.533" y="229.395" class="svg-color-5" width="187.733" height="34.133"></rect>
                                                <rect x="203.8" y="263.528" class="svg-color-1" width="59.733" height="68.267"></rect>
                                                <rect x="203.8" y="229.395" style="fill:#D4E1F4;" width="59.733" height="34.133"></rect>
                                                <rect x="263.533" y="263.528" class="svg-color-5" width="187.733" height="68.267"></rect>
                                                <g>
                                                <rect x="263.533" y="229.395" class="svg-color-2" width="162.133" height="34.133"></rect>
                                                <rect x="263.533" y="263.528" class="svg-color-2" width="162.133" height="68.267"></rect>
                                                <path class="svg-color-2" d="M365.933,186.728H144.067c0-61.267,49.667-110.933,110.933-110.933
				S365.933,125.461,365.933,186.728z"></path>
		</g>
                                                <g>
                                                <rect x="297.667" y="434.195" class="svg-color-5" width="25.6" height="34.133"></rect>
                                                <path class="svg-color-5" d="M391.533,476.862v17.067c-0.014,4.707-3.826,8.519-8.533,8.533h-25.6
				c4.707-0.014,8.519-3.826,8.533-8.533v-17.067c-0.014-4.707-3.826-8.519-8.533-8.533H383
				C387.707,468.342,391.519,472.155,391.533,476.862z"></path>
		</g>
	</g>
                                                <g transform="translate(1 10)">
                                                <path class="svg-color-3" d="M33.133,391.061c-0.002,9.053,3.593,17.737,9.995,24.139c6.402,6.402,15.085,9.997,24.139,9.995
			h-25.6c-9.053,0.002-17.737-3.593-24.139-9.995c-6.402-6.402-9.997-15.085-9.995-24.139v-281.6
			c-0.003-9.054,3.593-17.737,9.995-24.139s15.085-9.997,24.139-9.995h25.6c-9.054-0.003-17.737,3.593-24.139,9.995
			s-9.997,15.085-9.995,24.139V391.061z"></path>
                                                <path class="svg-color-3" d="M144.067,467.862v17.067c0.014,4.707,3.826,8.519,8.533,8.533H127
			c-4.707-0.014-8.519-3.826-8.533-8.533v-17.067c0.014-4.707,3.826-8.519,8.533-8.533h25.6
			C147.893,459.342,144.081,463.155,144.067,467.862z"></path>
                                                <rect x="186.733" y="425.195" class="svg-color-3" width="25.6" height="34.133"></rect>
	</g>
                                                <g>
                                                <polygon class="svg-color-3" points="17.067,119.461 17.067,230.395 17.067,366.928 0,366.928 0,230.395 0,119.461 		"></polygon>
                                                <g>
                                                <path class="svg-color-4" d="M8.533,196.261c2.259-0.034,4.422-0.918,6.059-2.475c3.3-3.365,3.3-8.752,0-12.117l-1.279-1.025
				c-0.476-0.324-0.993-0.583-1.538-0.771c-0.484-0.246-1.003-0.417-1.538-0.509c-0.563-0.096-1.133-0.153-1.704-0.171
				c-2.259,0.031-4.423,0.915-6.059,2.475c-3.222,3.397-3.222,8.721,0,12.117c0.815,0.771,1.77,1.379,2.813,1.792
				C6.314,196.017,7.417,196.248,8.533,196.261z"></path>
                                                <path class="svg-color-4" d="M469.333,76.795h-62.008c-1.284-1.741-2.501-3.533-3.846-5.225
				c-2.629-3.313-7.29-4.198-10.95-2.079l-23.896,13.821c-2.633-2.854-5.363-5.583-8.217-8.217l13.821-23.896
				c2.117-3.661,1.232-8.32-2.079-10.95c-14.086-11.167-29.731-20.212-46.437-26.846c-3.933-1.577-8.427-0.023-10.546,3.646
				l-13.833,23.858c-3.725-1.146-7.462-2.135-11.209-2.967V10.407c0-4.212-3.074-7.794-7.237-8.433
				c-17.834-2.625-35.957-2.625-53.792,0c-4.164,0.639-7.238,4.221-7.238,8.433v27.533c-3.742,0.833-7.478,1.822-11.208,2.967
				l-13.833-23.858c-2.122-3.666-6.613-5.218-10.546-3.646c-16.706,6.634-32.351,15.679-46.437,26.846
				c-3.311,2.63-4.196,7.289-2.079,10.95l13.821,23.896c-2.854,2.633-5.583,5.363-8.217,8.217L119.471,69.49
				c-3.661-2.115-8.319-1.23-10.95,2.079c-1.345,1.692-2.562,3.484-3.846,5.225H42.667C19.114,76.822,0.028,95.908,0,119.461v34.133
				c0,4.713,3.821,8.533,8.533,8.533s8.533-3.821,8.533-8.533v-34.133c0.015-14.132,11.468-25.585,25.6-25.6h50.707
				c-4.473,7.758-8.383,15.828-11.699,24.146c-1.57,3.933-0.018,8.422,3.646,10.546l23.858,13.833
				c-1.146,3.725-2.135,7.461-2.966,11.208H78.679c-4.212,0-7.794,3.074-8.433,7.237c-0.881,6.087-1.439,12.216-1.67,18.363h-8.843
				c-4.713,0-8.533,3.821-8.533,8.533s3.821,8.533,8.533,8.533h392.533c4.713,0,8.533-3.821,8.533-8.533s-3.82-8.533-8.533-8.533
				h-8.843c-0.231-6.146-0.788-12.276-1.67-18.363c-0.639-4.164-4.221-7.238-8.433-7.237h-27.533
				c-0.833-3.742-1.822-7.478-2.967-11.208l23.858-13.833c3.664-2.124,5.216-6.613,3.646-10.546
				c-3.317-8.318-7.226-16.388-11.699-24.146h50.707c14.132,0.015,25.585,11.468,25.6,25.6v238.933H17.067V221.861
				c0-4.713-3.821-8.533-8.533-8.533S0,217.149,0,221.861v179.2c0.028,23.553,19.114,42.639,42.667,42.667H179.2v17.067h-59.733
				c-4.713,0-8.533,3.82-8.533,8.533v34.133c0,4.713,3.821,8.533,8.533,8.533h273.067c4.713,0,8.533-3.821,8.533-8.533v-34.133
				c0-4.713-3.82-8.533-8.533-8.533H332.8v-17.067h136.533c23.553-0.028,42.639-19.114,42.667-42.667v-281.6
				C511.972,95.909,492.886,76.823,469.333,76.795z M154.032,179.195c4.397-53.05,48.736-93.866,101.968-93.866
				s97.571,40.816,101.968,93.866H154.032z M388.254,131.107c-3.566,2.067-5.144,6.388-3.75,10.267
				c2.599,7.203,4.554,14.622,5.842,22.171c0.694,4.108,4.251,7.116,8.417,7.117h27.05c0.283,2.758,0.284,5.685,0.427,8.533h-51.205
				C370.626,116.704,318.646,68.261,256,68.261s-114.626,48.443-119.034,110.934H85.76c0.143-2.848,0.144-5.775,0.427-8.533h27.051
				c4.166-0.001,7.723-3.009,8.417-7.117c1.288-7.548,3.243-14.968,5.842-22.171c1.394-3.879-0.184-8.199-3.75-10.267
				l-23.354-13.542c4.662-10.401,10.377-20.297,17.054-29.533l23.433,13.558c3.588,2.08,8.153,1.274,10.813-1.908
				c4.927-5.893,10.369-11.336,16.262-16.262c3.179-2.662,3.984-7.223,1.908-10.813l-13.558-23.433
				c9.237-6.677,19.133-12.392,29.533-17.054l13.542,23.354c2.066,3.568,6.388,5.146,10.267,3.75
				c7.203-2.599,14.622-4.554,22.171-5.842c4.108-0.694,7.116-4.251,7.117-8.417v-27.05c11.35-1.133,22.784-1.133,34.133,0v27.05
				c0.001,4.166,3.009,7.723,7.117,8.417c7.548,1.288,14.968,3.243,22.171,5.842c3.879,1.399,8.203-0.181,10.267-3.75l13.542-23.354
				c10.401,4.662,20.297,10.377,29.533,17.054l-13.558,23.433c-2.075,3.589-1.27,8.151,1.908,10.813
				c5.893,4.927,11.336,10.369,16.262,16.262c2.662,3.178,7.223,3.982,10.813,1.908l23.433-13.558
				c6.677,9.237,12.392,19.133,17.054,29.533L388.254,131.107z M384,494.928H128v-17.067h256V494.928z M315.733,460.795H196.267
				v-17.067h119.467V460.795z M469.333,426.661H42.667c-14.132-0.015-25.585-11.468-25.6-25.6v-25.6h477.867v25.6
				C494.918,415.194,483.465,426.646,469.333,426.661z"></path>
                                                <path class="svg-color-4" d="M169.782,271.732c-4.494-26.869-26.608-47.288-53.75-49.63
				c-27.142-2.342-52.426,13.987-61.457,39.689s0.484,54.258,23.125,69.407l0.079,0.079c0.071,0.047,0.153,0.061,0.225,0.106
				c19.792,13.277,45.596,13.466,65.58,0.479s30.293-36.643,26.199-60.122v-0.005L169.782,271.732z M150.641,266.289l-31.175,5.222
				v-31.721C133.686,242.751,145.429,252.732,150.641,266.289L150.641,266.289z M68.267,281.595
				c0.028-20.265,14.283-37.724,34.133-41.804v39.215l-21.749,32.591C72.717,303.627,68.264,292.84,68.267,281.595z
				 M110.933,324.262c-5.516-0.009-10.977-1.096-16.077-3.198l21.129-31.662l37.46-6.277
				C152.638,306.036,133.859,324.207,110.933,324.262z"></path>
                                                <path class="svg-color-4" d="M452.267,341.328c4.713,0,8.533-3.82,8.533-8.533v-102.4c0-4.713-3.82-8.533-8.533-8.533H204.8
				c-4.713,0-8.533,3.821-8.533,8.533v102.4c0,4.713,3.821,8.533,8.533,8.533H452.267z M213.333,273.061H256v51.2h-42.667V273.061z
				 M273.067,324.262v-51.2h170.667v51.2H273.067z M443.733,255.995H273.067v-17.067h170.667V255.995z M256,238.928v17.067h-42.667
				v-17.067H256z"></path>
                                                <path class="svg-color-4" d="M315.733,290.128h-17.067c-4.713,0-8.533,3.821-8.533,8.533s3.82,8.533,8.533,8.533h17.067
				c4.713,0,8.533-3.82,8.533-8.533S320.446,290.128,315.733,290.128z"></path>
                                                <path class="svg-color-4" d="M366.933,290.128h-17.067c-4.713,0-8.533,3.821-8.533,8.533s3.821,8.533,8.533,8.533h17.067
				c4.713,0,8.533-3.82,8.533-8.533S371.646,290.128,366.933,290.128z"></path>
                                                <path class="svg-color-4" d="M418.133,290.128h-17.067c-4.713,0-8.533,3.821-8.533,8.533s3.82,8.533,8.533,8.533h17.067
				c4.713,0,8.533-3.82,8.533-8.533S422.846,290.128,418.133,290.128z"></path>
		</g>
	</g>
</g>
</svg>
                                                <h5 class="fs-0-9 fw-5  mt-2">Módulo Mi Empresa</h5>
                                            </a>
                                            <div class="edit-apartado animated fadeInUp d-none">
                                                <a href="/modulo-mi-empresa/configuracion" class="" data-toggle="modal" data-target="#modalModificarTextoApartado"><i class="material-icons">edit</i></a>
                                            </div>
                                        </figure>
                                    </div>
                                    <div class="col-conf mb-3 col-2">
                                        <figure id="trigger-asistencias-1" style="transition: all 0.3s ease-in-out 0s; transform: scale(1);">
                                            <a href="/modulo-mi-empresa/usuarios">
                                                <!--?xml version="1.0" encoding="iso-8859-1"?-->
                                                <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" class="svg-dashboard-apartado">
<g>
                                                <path class="svg-color-1" d="M216.004,42.667h79.991c6.188,0,11.204,5.016,11.204,11.204v114.125
		c0,6.188-5.016,11.204-11.204,11.204h-79.991c-6.188,0-11.204-5.016-11.204-11.204V53.871
		C204.8,47.683,209.816,42.667,216.004,42.667z"></path>
                                                <path class="svg-color-3" d="M39.919,128H204.8v39.998c0,2.971,1.18,5.82,3.281,7.921c2.101,2.101,4.95,3.281,7.921,3.281h54.397
		l2.668,290.133H39.919c-17.334,0-31.386-14.052-31.386-31.386V159.386C8.533,142.052,22.585,128,39.919,128z"></path>
                                                <circle class="svg-color-2" cx="256" cy="93.867" r="25.6"></circle>
                                                <path class="svg-color-1" d="M472.081,128H307.2v39.998c0,2.971-1.18,5.82-3.281,7.921c-2.101,2.101-4.95,3.281-7.921,3.281
		h-54.397l-2.668,290.133h233.148c17.334,0,31.386-14.052,31.386-31.386V159.386C503.467,142.052,489.415,128,472.081,128
		L472.081,128z"></path>
                                                <path class="svg-color-2" d="M307.2,128v39.999c0,2.971-1.18,5.82-3.281,7.921c-2.101,2.101-4.95,3.281-7.921,3.281h-79.997
		c-6.186,0-11.201-5.015-11.201-11.201V128H65.519c-17.334,0-31.386,14.052-31.386,31.386v278.562
		c0,17.334,14.052,31.386,31.386,31.386h380.962c17.334,0,31.386-14.052,31.386-31.386V159.386
		c0-17.334-14.052-31.386-31.386-31.386H307.2z"></path>
                                                <path class="svg-color-1" d="M197.855,368.262l-32.146-16.421c-2.194-1.121-3.576-3.377-3.575-5.842v-9.84
		c15.711-7.111,27.079-21.3,30.591-38.183c7.143-2.184,12.035-8.76,12.076-16.229v-8.533c-0.033-6.333-3.574-12.126-9.196-15.042
		c-3.761-32.094-24.977-45.079-59.071-45.079c-1.614,0-3.197,0.063-4.749,0.188c-11.545,1.22-23.163-1.514-32.953-7.754
		c-3.669-2.348-6.958-5.243-9.754-8.583c-0.465-0.614-1.285-0.839-1.999-0.549c-0.714,0.29-1.143,1.024-1.048,1.788
		c0.341,2.988,0.85,6.469,1.606,10.273c2.817,14.169,1.134,12.1-4.345,25.467c-3.105,7.773-5.088,15.949-5.889,24.281
		c-5.588,2.927-9.103,8.702-9.136,15.01v8.533c0.04,7.469,4.933,14.045,12.076,16.229c3.513,16.884,14.88,31.073,30.591,38.183
		v9.773c0,2.499-1.42,4.782-3.663,5.885l-32.945,16.225c-8.995,4.906-14.592,14.333-14.592,24.579v11.307
		c0,9.64,34.384,14.352,76.8,14.352s76.8-4.713,76.8-14.352v-10.621C213.333,382.701,207.341,373.005,197.855,368.262
		L197.855,368.262z"></path>
                                                <g>
                                                <path class="svg-color-4" d="M296,187.733h-80c-10.894-0.011-19.722-8.839-19.733-19.733V53.867
			c0.011-10.894,8.839-19.723,19.733-19.733h80c10.894,0.011,19.723,8.839,19.733,19.733V168
			C315.723,178.894,306.894,187.723,296,187.733z M216,51.2c-1.471,0.004-2.662,1.196-2.666,2.667V168
			c0.004,1.471,1.196,2.662,2.667,2.667h80c1.471-0.004,2.663-1.196,2.667-2.667V53.867c-0.004-1.471-1.196-2.662-2.667-2.667H216z"></path>
                                                <path class="svg-color-4" d="M452.267,392.533c-1.115-0.014-2.216-0.246-3.242-0.683c-1.045-0.412-2.001-1.02-2.817-1.792
			c-0.752-0.831-1.358-1.783-1.792-2.817c-0.437-1.025-0.669-2.127-0.683-3.241c0-4.713,3.82-8.533,8.533-8.533
			s8.533,3.821,8.533,8.533c-0.014,1.115-0.246,2.216-0.683,3.242c-0.777,2.143-2.465,3.831-4.608,4.608
			C454.483,392.287,453.382,392.52,452.267,392.533z"></path>
                                                <path class="svg-color-4" d="M136.533,426.817c-85.333,0-85.333-16.042-85.333-22.892v-11.3
			c-0.004-13.369,7.297-25.673,19.033-32.075L102.4,344.7v-3.209c-14.271-8.053-24.749-21.457-29.117-37.25
			c-8.346-4.396-13.564-13.059-13.55-22.491v-8.533c0.012-7.776,3.575-15.12,9.675-19.942c1.056-7.746,3.066-15.331,5.984-22.583
			c1.267-3.092,2.342-5.392,3.209-7.275c2.317-4.975,2.317-4.975,0.667-13.292c-0.808-4.075-1.35-7.792-1.708-10.967
			c-0.534-4.554,2.027-8.907,6.266-10.652c4.24-1.745,9.123-0.457,11.95,3.152c2.253,2.644,4.891,4.933,7.825,6.792
			c8.204,5.125,17.89,7.352,27.508,6.325c1.767-0.142,3.575-0.214,5.425-0.217c39.142,0,61.65,16.35,66.975,48.608
			c6.192,4.81,9.817,12.209,9.825,20.05v8.533c0.015,9.433-5.204,18.095-13.55,22.492c-4.368,15.793-14.845,29.197-29.117,37.25v3.3
			l31.042,15.85c12.387,6.167,20.202,18.829,20.158,32.667v10.617C221.867,410.775,221.867,426.817,136.533,426.817z M68.267,402
			c5.316,3.233,26.975,7.75,68.267,7.75s62.95-4.517,68.267-7.75v-8.692c0.022-7.382-4.153-14.136-10.767-17.417l-0.058-0.033
			l-32.15-16.417c-5.054-2.575-8.233-7.77-8.225-13.442v-9.842c-0.001-3.409,2.027-6.492,5.158-7.842
			c13.344-6.039,22.933-18.172,25.725-32.55c0.757-2.829,2.912-5.072,5.708-5.942c3.561-1.091,6.014-4.351,6.075-8.075v-8.533
			c-0.03-3.167-1.819-6.054-4.642-7.492c-2.492-1.308-4.177-3.763-4.5-6.558c-3.042-25.967-18.642-37.542-50.592-37.542
			c-1.383,0-2.742,0.058-4.067,0.167c-12.181,1.198-24.439-1.306-35.175-7.183c0.731,5.545-0.401,11.176-3.217,16.009
			c-0.783,1.692-1.75,3.767-2.883,6.542c-2.8,7.023-4.587,14.408-5.308,21.933c-0.293,2.819-1.967,5.308-4.467,6.642
			c-2.806,1.447-4.583,4.327-4.617,7.484v8.533c0.061,3.724,2.514,6.984,6.075,8.075c2.797,0.869,4.952,3.112,5.709,5.942
			c2.792,14.378,12.381,26.511,25.725,32.55c3.131,1.349,5.159,4.432,5.158,7.841v9.775c-0.019,5.754-3.291,11.002-8.45,13.55
			L78.092,375.7c-6.095,3.45-9.852,9.922-9.825,16.925V402z M103.5,344.158l-0.017,0.009L103.5,344.158z"></path>
                                                <path class="svg-color-4" d="M349.867,247.617h-85.333c-4.713,0-8.533-3.821-8.533-8.533s3.821-8.533,8.533-8.533h85.333
			c4.713,0,8.533,3.82,8.533,8.533S354.579,247.617,349.867,247.617z"></path>
                                                <path class="svg-color-4" d="M273.067,392.683h-8.533c-4.713,0-8.533-3.82-8.533-8.533c0-4.713,3.821-8.533,8.533-8.533h8.533
			c4.713,0,8.533,3.82,8.533,8.533C281.6,388.863,277.78,392.683,273.067,392.683z"></path>
                                                <path class="svg-color-4" d="M324.267,392.683H307.2c-4.713,0-8.533-3.82-8.533-8.533c0-4.713,3.82-8.533,8.533-8.533h17.067
			c4.713,0,8.533,3.82,8.533,8.533C332.8,388.863,328.98,392.683,324.267,392.683z"></path>
                                                <path class="svg-color-4" d="M366.933,392.683H358.4c-4.713,0-8.533-3.82-8.533-8.533c0-4.713,3.82-8.533,8.533-8.533h8.533
			c4.713,0,8.533,3.82,8.533,8.533C375.467,388.863,371.646,392.683,366.933,392.683z"></path>
                                                <path class="svg-color-4" d="M418.133,392.683h-17.067c-4.713,0-8.533-3.82-8.533-8.533c0-4.713,3.82-8.533,8.533-8.533h17.067
			c4.713,0,8.533,3.82,8.533,8.533C426.667,388.863,422.846,392.683,418.133,392.683z"></path>
                                                <path class="svg-color-4" d="M452.267,298.817H264.533c-4.713,0-8.533-3.821-8.533-8.533s3.821-8.533,8.533-8.533h187.733
			c4.713,0,8.533,3.82,8.533,8.533S456.98,298.817,452.267,298.817z"></path>
                                                <path class="svg-color-4" d="M452.267,350.017H264.533c-4.713,0-8.533-3.82-8.533-8.533c0-4.713,3.821-8.533,8.533-8.533
			h187.733c4.713,0,8.533,3.821,8.533,8.533C460.8,346.196,456.98,350.017,452.267,350.017z"></path>
                                                <path class="svg-color-4" d="M472.083,477.867H39.917C17.882,477.84,0.026,459.985,0,437.95V159.383
			c0.026-22.034,17.882-39.89,39.917-39.917H204.8c2.264-0.001,4.435,0.897,6.035,2.498c1.601,1.601,2.499,3.772,2.498,6.035v40
			c0.004,1.471,1.196,2.662,2.667,2.667h80c1.471-0.004,2.663-1.196,2.667-2.667v-40c-0.001-2.264,0.897-4.435,2.498-6.035
			c1.601-1.601,3.772-2.499,6.035-2.498h164.883c22.034,0.026,39.89,17.882,39.917,39.917V437.95
			C511.974,459.985,494.118,477.84,472.083,477.867z M39.917,136.533c-12.614,0.014-22.836,10.236-22.85,22.85V437.95
			c0.014,12.614,10.236,22.836,22.85,22.85h432.167c12.614-0.014,22.836-10.236,22.85-22.85V159.383
			c-0.014-12.614-10.236-22.836-22.85-22.85h-156.35V168c-0.011,10.894-8.839,19.723-19.734,19.733h-80
			c-10.894-0.011-19.722-8.839-19.733-19.733v-31.467H39.917z"></path>
                                                <path class="svg-color-4" d="M256,128c-18.851,0-34.133-15.282-34.133-34.133S237.149,59.733,256,59.733
			c18.851,0,34.133,15.282,34.133,34.133C290.115,112.71,274.844,127.981,256,128L256,128z M256,76.8
			c-9.426,0-17.067,7.641-17.067,17.067s7.641,17.067,17.067,17.067c9.426,0,17.067-7.641,17.067-17.067
			C273.054,84.446,265.421,76.812,256,76.8L256,76.8z"></path>
	</g>
</g>
</svg>
                                                <h5 class="fs-0-9 fw-5  mt-2">Módulo Asistencias</h5>
                                            </a>
                                            <div class="edit-apartado animated fadeInUp d-none">
                                                <a href="/modulo-mi-empresa/usuarios" class="" data-toggle="modal" data-target="#modalModificarTextoApartado"><i class="material-icons">edit</i></a>
                                            </div>
                                        </figure>
                                    </div>
                                    <div class="col-conf mb-3 col-2">
                                        <figure id="trigger-asistencias-2" style="transition: all 0.3s ease-in-out 0s; transform: scale(1);">
                                            <a href="/modulo-mi-empresa/nodos">
                                                <!--?xml version="1.0" encoding="iso-8859-1"?-->
                                                <!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" class="svg-dashboard-apartado">
<g>
                                                <g transform="translate(1 1)">
                                                <path class="svg-color-1" d="M323.267,24.6v34.133c-0.028,9.414-7.653,17.039-17.067,17.067h-85.333V7.533H306.2
			C315.614,7.561,323.239,15.186,323.267,24.6z"></path>
                                                <path class="svg-color-2" d="M297.667,24.6v34.133c-0.028,9.414-7.653,17.039-17.067,17.067h-85.333V7.533H280.6
			C290.014,7.561,297.639,15.186,297.667,24.6z"></path>
                                                <g>
                                                <path class="svg-color-1" d="M229.4,7.533V75.8h-25.6c-9.414-0.028-17.039-7.653-17.067-17.067V24.6
				c0.028-9.414,7.653-17.039,17.067-17.067H229.4z"></path>
                                                <path class="svg-color-1" d="M144.067,169.667V203.8c-0.028,9.414-7.653,17.039-17.067,17.067H41.667V152.6H127
				C136.414,152.628,144.039,160.253,144.067,169.667z"></path>
                                                <path class="svg-color-1" d="M50.2,152.6v68.267H24.6c-9.414-0.028-17.039-7.653-17.067-17.067v-34.133
				c0.028-9.414,7.653-17.039,17.067-17.067H50.2z"></path>
                                                <path class="svg-color-1" d="M323.267,169.667V203.8c-0.028,9.414-7.653,17.039-17.067,17.067h-85.333V152.6H306.2
				C315.614,152.628,323.239,160.253,323.267,169.667z"></path>
                                                <path class="svg-color-1" d="M229.4,152.6v68.267h-25.6c-9.414-0.028-17.039-7.653-17.067-17.067v-34.133
				c0.028-9.414,7.653-17.039,17.067-17.067H229.4z"></path>
                                                <path class="svg-color-1" d="M237.933,306.2v34.133c-0.028,9.414-7.653,17.039-17.067,17.067h-85.333v-68.267h85.333
				C230.281,289.161,237.905,296.786,237.933,306.2z"></path>
                                                <path class="svg-color-1" d="M144.067,289.133V357.4h-25.6c-9.414-0.028-17.039-7.653-17.067-17.067V306.2
				c0.028-9.414,7.653-17.039,17.067-17.067H144.067z"></path>
                                                <path class="svg-color-1" d="M408.6,306.2v34.133c-0.028,9.414-7.653,17.039-17.067,17.067H306.2v-68.267h85.333
				C400.947,289.161,408.572,296.786,408.6,306.2z"></path>
                                                <path class="svg-color-1" d="M314.733,289.133V357.4h-25.6c-9.414-0.028-17.039-7.653-17.067-17.067V306.2
				c0.028-9.414,7.653-17.039,17.067-17.067H314.733z"></path>
                                                <path class="svg-color-1" d="M502.467,169.667V203.8c-0.028,9.414-7.653,17.039-17.067,17.067h-85.333V152.6H485.4
				C494.814,152.628,502.439,160.253,502.467,169.667z"></path>
		</g>
                                                <g>
                                                <path class="svg-color-2" d="M118.467,169.667V203.8c-0.028,9.414-7.653,17.039-17.067,17.067H16.067V152.6H101.4
				C110.814,152.628,118.439,160.253,118.467,169.667z"></path>
                                                <path class="svg-color-2" d="M297.667,169.667V203.8c-0.028,9.414-7.653,17.039-17.067,17.067h-85.333V152.6H280.6
				C290.014,152.628,297.639,160.253,297.667,169.667z"></path>
                                                <path class="svg-color-2" d="M212.333,306.2v34.133c-0.028,9.414-7.653,17.039-17.067,17.067h-85.333v-68.267h85.333
				C204.681,289.161,212.305,296.786,212.333,306.2z"></path>
                                                <path class="svg-color-2" d="M383,306.2v34.133c-0.028,9.414-7.653,17.039-17.067,17.067H280.6v-68.267h85.333
				C375.347,289.161,382.972,296.786,383,306.2z"></path>
                                                <path class="svg-color-2" d="M476.867,169.667V203.8c-0.028,9.414-7.653,17.039-17.067,17.067h-85.333V152.6H459.8
				C469.214,152.628,476.839,160.253,476.867,169.667z"></path>
		</g>
                                                <g>
                                                <path class="svg-color-1" d="M408.6,152.6v68.267H383c-9.414-0.028-17.039-7.653-17.067-17.067v-34.133
				c0.028-9.414,7.653-17.039,17.067-17.067H408.6z"></path>
                                                <path class="svg-color-1" d="M144.067,451.267V485.4c-0.028,9.414-7.653,17.039-17.067,17.067H41.667V434.2H127
				C136.414,434.228,144.039,441.853,144.067,451.267z"></path>
                                                <path class="svg-color-1" d="M50.2,434.2v68.267H24.6c-9.414-0.028-17.039-7.653-17.067-17.067v-34.133
				c0.028-9.414,7.653-17.039,17.067-17.067H50.2z"></path>
                                                <path class="svg-color-1" d="M323.267,451.267V485.4c-0.028,9.414-7.653,17.039-17.067,17.067h-85.333V434.2H306.2
				C315.614,434.228,323.239,441.853,323.267,451.267z"></path>
                                                <path class="svg-color-1" d="M229.4,434.2v68.267h-25.6c-9.414-0.028-17.039-7.653-17.067-17.067v-34.133
				c0.028-9.414,7.653-17.039,17.067-17.067H229.4z"></path>
                                                <path class="svg-color-1" d="M502.467,451.267V485.4c-0.028,9.414-7.653,17.039-17.067,17.067h-85.333V434.2H485.4
				C494.814,434.228,502.439,441.853,502.467,451.267z"></path>
		</g>
                                                <g>
                                                <path class="svg-color-2" d="M118.467,451.267V485.4c-0.028,9.414-7.653,17.039-17.067,17.067H16.067V434.2H101.4
				C110.814,434.228,118.439,441.853,118.467,451.267z"></path>
                                                <path class="svg-color-2" d="M297.667,451.267V485.4c-0.028,9.414-7.653,17.039-17.067,17.067h-85.333V434.2H280.6
				C290.014,434.228,297.639,441.853,297.667,451.267z"></path>
                                                <path class="svg-color-2" d="M476.867,451.267V485.4c-0.028,9.414-7.653,17.039-17.067,17.067h-85.333V434.2H459.8
				C469.214,434.228,476.839,441.853,476.867,451.267z"></path>
		</g>
                                                <path class="svg-color-1" d="M408.6,434.2v68.267H383c-9.414-0.028-17.039-7.653-17.067-17.067v-34.133
			c0.028-9.414,7.653-17.039,17.067-17.067H408.6z"></path>
                                                <g>
                                                <path class="svg-color-3" d="M383,502.467h17.067v-2.381c-5.251-3.032-8.5-8.622-8.533-14.686v-34.133
				c0.034-6.064,3.282-11.654,8.533-14.686V434.2h-25.6v2.381c-5.251,3.032-8.5,8.622-8.533,14.686V485.4
				c0.034,6.064,3.282,11.654,8.533,14.686v2.381H383z"></path>
                                                <path class="svg-color-3" d="M203.8,502.467h17.067v-2.381c-5.251-3.032-8.5-8.622-8.533-14.686v-34.133
				c0.034-6.064,3.282-11.654,8.533-14.686V434.2h-25.6v2.381c-5.251,3.032-8.5,8.622-8.533,14.686V485.4
				c0.034,6.064,3.282,11.654,8.533,14.686v2.381H203.8z"></path>
                                                <path class="svg-color-3" d="M186.733,203.8c0.034,6.064,3.282,11.654,8.533,14.686v2.381h25.6v-2.381
				c-5.251-3.032-8.5-8.622-8.533-14.686v-34.133c0.034-6.064,3.282-11.654,8.533-14.686V152.6h-25.6v2.381
				c-5.251,3.032-8.5,8.622-8.533,14.686V203.8z"></path>
                                                <path class="svg-color-3" d="M109.933,289.133v2.381c-5.251,3.032-8.5,8.622-8.533,14.686v34.133
				c0.034,6.064,3.282,11.654,8.533,14.686v2.381h25.6v-2.381c-5.251-3.032-8.5-8.622-8.533-14.686V306.2
				c0.034-6.064,3.282-11.654,8.533-14.686v-2.381H109.933z"></path>
                                                <path class="svg-color-3" d="M195.267,7.533v2.381c-5.251,3.032-8.5,8.622-8.533,14.686v34.133
				c0.034,6.064,3.282,11.654,8.533,14.686V75.8h25.6v-2.381c-5.251-3.032-8.5-8.622-8.533-14.686V24.6
				c0.034-6.064,3.282-11.654,8.533-14.686V7.533H195.267z"></path>
                                                <path class="svg-color-3" d="M374.467,152.6v2.381c-5.251,3.032-8.5,8.622-8.533,14.686V203.8
				c0.034,6.064,3.282,11.654,8.533,14.686v2.381h25.6v-2.381c-5.251-3.032-8.5-8.622-8.533-14.686v-34.133
				c0.034-6.064,3.282-11.654,8.533-14.686V152.6H374.467z"></path>
                                                <path class="svg-color-3" d="M289.133,357.4H306.2v-2.381c-5.251-3.032-8.5-8.622-8.533-14.686V306.2
				c0.034-6.064,3.282-11.654,8.533-14.686v-2.381h-25.6v2.381c-5.251,3.032-8.5,8.622-8.533,14.686v34.133
				c0.034,6.064,3.282,11.654,8.533,14.686v2.381H289.133z"></path>
                                                <path class="svg-color-3" d="M16.067,218.486v2.381h25.6v-2.381c-5.251-3.032-8.5-8.622-8.533-14.686v-34.133
				c0.034-6.064,3.282-11.654,8.533-14.686V152.6h-25.6v2.381c-5.251,3.032-8.5,8.622-8.533,14.686V203.8
				C7.567,209.864,10.815,215.454,16.067,218.486z"></path>
                                                <path class="svg-color-3" d="M16.067,500.086v2.381h25.6v-2.381c-5.251-3.032-8.5-8.622-8.533-14.686v-34.133
				c0.034-6.064,3.282-11.654,8.533-14.686V434.2h-25.6v2.381c-5.251,3.032-8.5,8.622-8.533,14.686V485.4
				C7.567,491.464,10.815,497.054,16.067,500.086z"></path>
		</g>
	</g>
                                                <g>
                                                <path class="svg-color-4" d="M486.4,145.067H384c-14.138,0-25.6,11.462-25.6,25.6v8.533h-25.6v-8.533
			c0-14.138-11.462-25.6-25.6-25.6h-42.667V85.333H307.2c14.138,0,25.6-11.462,25.6-25.6V25.6c0-14.138-11.462-25.6-25.6-25.6H204.8
			c-14.139,0-25.6,11.462-25.6,25.6v34.133c0,14.138,11.462,25.6,25.6,25.6h42.667v59.733H204.8c-14.139,0-25.6,11.462-25.6,25.6
			v8.533h-25.6v-8.533c0-14.138-11.462-25.6-25.6-25.6H25.6c-14.138,0-25.6,11.462-25.6,25.6V204.8c0,14.138,11.462,25.6,25.6,25.6
			H128c14.139,0,25.6-11.462,25.6-25.6v-8.533h25.6v8.533c0,14.138,11.462,25.6,25.6,25.6h42.667v17.067H179.2
			c-9.426,0-17.067,7.641-17.067,17.067V281.6h-42.667c-14.138,0-25.6,11.462-25.6,25.6v34.133c0,14.138,11.462,25.6,25.6,25.6
			h42.667V384h-76.8c-9.426,0-17.067,7.641-17.067,17.067v25.6H25.6c-14.138,0-25.6,11.462-25.6,25.6V486.4
			C0,500.539,11.462,512,25.6,512H128c14.139,0,25.6-11.461,25.6-25.6v-34.133c0-14.138-11.462-25.6-25.6-25.6H85.333v-25.6h162.133
			v25.6H204.8c-14.139,0-25.6,11.462-25.6,25.6V486.4c0,14.138,11.462,25.6,25.6,25.6h102.4c14.138,0,25.6-11.461,25.6-25.6v-34.133
			c0-14.138-11.462-25.6-25.6-25.6h-42.667v-25.6H435.2v25.6H384c-14.138,0-25.6,11.462-25.6,25.6V486.4
			c0,14.138,11.462,25.6,25.6,25.6h102.4c14.138,0,25.6-11.461,25.6-25.6v-34.133c0-14.138-11.461-25.6-25.6-25.6h-34.133v-25.6
			c0-9.426-7.641-17.067-17.067-17.067h-76.8v-17.067h34.133c14.138,0,25.6-11.462,25.6-25.6V307.2c0-14.138-11.462-25.6-25.6-25.6
			h-42.667v-17.067c0-9.426-7.641-17.067-17.067-17.067h-68.267V230.4H307.2c14.138,0,25.6-11.462,25.6-25.6v-8.533h25.6v8.533
			c0,14.138,11.462,25.6,25.6,25.6h102.4c14.138,0,25.6-11.462,25.6-25.6v-34.133C512,156.528,500.539,145.067,486.4,145.067z
			 M315.733,25.6v34.133c0,4.713-3.82,8.533-8.533,8.533h-68.267v-51.2H307.2C311.913,17.067,315.733,20.887,315.733,25.6z
			 M196.267,59.733V25.6c0-4.713,3.821-8.533,8.533-8.533h17.067v51.2H204.8C200.087,68.267,196.267,64.446,196.267,59.733z
			 M17.067,204.8v-34.133c0-4.713,3.821-8.533,8.533-8.533h17.067v51.2H25.6C20.887,213.333,17.067,209.513,17.067,204.8z
			 M136.533,204.8c0,4.713-3.821,8.533-8.533,8.533H59.733v-51.2H128c4.713,0,8.533,3.821,8.533,8.533V204.8z M17.067,486.4v-34.133
			c0-4.713,3.821-8.533,8.533-8.533h17.067v51.2H25.6C20.887,494.933,17.067,491.113,17.067,486.4z M136.533,452.267V486.4
			c0,4.713-3.821,8.533-8.533,8.533H59.733v-51.2H128C132.713,443.733,136.533,447.554,136.533,452.267z M196.267,486.4v-34.133
			c0-4.713,3.821-8.533,8.533-8.533h17.067v51.2H204.8C200.087,494.933,196.267,491.113,196.267,486.4z M315.733,452.267V486.4
			c0,4.713-3.82,8.533-8.533,8.533h-68.267v-51.2H307.2C311.913,443.733,315.733,447.554,315.733,452.267z M375.467,486.4v-34.133
			c0-4.713,3.821-8.533,8.533-8.533h17.067v51.2H384C379.287,494.933,375.467,491.113,375.467,486.4z M494.933,452.267V486.4
			c0,4.713-3.82,8.533-8.533,8.533h-68.267v-51.2H486.4C491.113,443.733,494.933,447.554,494.933,452.267z M153.6,349.867v-51.2
			h68.267c4.713,0,8.533,3.82,8.533,8.533v34.133c0,4.713-3.821,8.533-8.533,8.533H153.6z M110.933,341.333V307.2
			c0-4.713,3.821-8.533,8.533-8.533h17.067v51.2h-17.067C114.754,349.867,110.933,346.046,110.933,341.333z M401.067,307.2v34.133
			c0,4.713-3.82,8.533-8.533,8.533h-68.267v-51.2h68.267C397.246,298.667,401.067,302.487,401.067,307.2z M290.133,349.867
			c-4.713,0-8.533-3.821-8.533-8.533V307.2c0-4.713,3.821-8.533,8.533-8.533H307.2v51.2H290.133z M332.8,281.6h-42.667
			c-14.138,0-25.6,11.462-25.6,25.6v34.133c0,14.138,11.462,25.6,25.6,25.6h51.2V384H179.2v-17.067h42.667
			c14.138,0,25.6-11.462,25.6-25.6V307.2c0-14.138-11.462-25.6-25.6-25.6H179.2v-17.067h153.6V281.6z M196.267,204.8v-34.133
			c0-4.713,3.821-8.533,8.533-8.533h17.067v51.2H204.8C200.087,213.333,196.267,209.513,196.267,204.8z M315.733,204.8
			c0,4.713-3.82,8.533-8.533,8.533h-68.267v-51.2H307.2c4.713,0,8.533,3.821,8.533,8.533V204.8z M375.467,204.8v-34.133
			c0-4.713,3.821-8.533,8.533-8.533h17.067v51.2H384C379.287,213.333,375.467,209.513,375.467,204.8z M494.933,204.8
			c0,4.713-3.82,8.533-8.533,8.533h-68.267v-51.2H486.4c4.713,0,8.533,3.821,8.533,8.533V204.8z"></path>
                                                <path class="svg-color-4" d="M264.533,51.2h25.6c4.713,0,8.533-3.821,8.533-8.533s-3.821-8.533-8.533-8.533h-25.6
			c-4.713,0-8.533,3.821-8.533,8.533S259.821,51.2,264.533,51.2z"></path>
                                                <path class="svg-color-4" d="M290.133,179.2h-25.6c-4.713,0-8.533,3.821-8.533,8.533c0,4.713,3.821,8.533,8.533,8.533h25.6
			c4.713,0,8.533-3.821,8.533-8.533C298.667,183.021,294.846,179.2,290.133,179.2z"></path>
                                                <path class="svg-color-4" d="M204.8,315.733h-25.6c-4.713,0-8.533,3.821-8.533,8.533s3.821,8.533,8.533,8.533h25.6
			c4.713,0,8.533-3.82,8.533-8.533S209.513,315.733,204.8,315.733z"></path>
                                                <path class="svg-color-4" d="M349.867,332.8h25.6c4.713,0,8.533-3.82,8.533-8.533s-3.821-8.533-8.533-8.533h-25.6
			c-4.713,0-8.533,3.821-8.533,8.533S345.154,332.8,349.867,332.8z"></path>
                                                <path class="svg-color-4" d="M110.933,179.2h-25.6c-4.713,0-8.533,3.821-8.533,8.533c0,4.713,3.821,8.533,8.533,8.533h25.6
			c4.713,0,8.533-3.821,8.533-8.533C119.467,183.021,115.646,179.2,110.933,179.2z"></path>
                                                <path class="svg-color-4" d="M469.333,179.2h-25.6c-4.713,0-8.533,3.821-8.533,8.533c0,4.713,3.821,8.533,8.533,8.533h25.6
			c4.713,0,8.533-3.821,8.533-8.533C477.867,183.021,474.046,179.2,469.333,179.2z"></path>
                                                <path class="svg-color-4" d="M85.333,477.867h25.6c4.713,0,8.533-3.821,8.533-8.533c0-4.713-3.821-8.533-8.533-8.533h-25.6
			c-4.713,0-8.533,3.821-8.533,8.533C76.8,474.046,80.621,477.867,85.333,477.867z"></path>
                                                <path class="svg-color-4" d="M264.533,477.867h25.6c4.713,0,8.533-3.821,8.533-8.533c0-4.713-3.821-8.533-8.533-8.533h-25.6
			c-4.713,0-8.533,3.821-8.533,8.533C256,474.046,259.821,477.867,264.533,477.867z"></path>
                                                <path class="svg-color-4" d="M435.2,469.333c0,4.713,3.821,8.533,8.533,8.533h25.6c4.713,0,8.533-3.821,8.533-8.533
			c0-4.713-3.821-8.533-8.533-8.533h-25.6C439.021,460.8,435.2,464.621,435.2,469.333z"></path>
	</g>
</g>
</svg>
                                                <h5 class="fs-0-9 fw-5  mt-2">Módulo CMS</h5>
                                            </a>
                                            <div class="edit-apartado animated fadeInUp d-none">
                                                <a href="/modulo-mi-empresa/nodos" class="" data-toggle="modal" data-target="#modalModificarTextoApartado"><i class="material-icons">edit</i></a>
                                            </div>
                                        </figure>
                                    </div>
                                    <div class="col-conf mb-3 col-2">
                                        <figure id="trigger-asistencias-3">
                                            <a href="/modulo-mi-empresa/contratacion">
                                                <!--?xml version="1.0" encoding="iso-8859-1"?-->
                                                <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512.002 512.002" style="enable-background:new 0 0 512.002 512.002;" xml:space="preserve" class="svg-dashboard-apartado">
<g>
                                                <g transform="translate(1 1)">
                                                <path class="svg-color-1" d="M502.467,255.001c0.011,65.636-26.058,128.586-72.469,174.997
			C383.586,476.41,320.636,502.478,255,502.467c-4.267,0-8.533-0.085-12.715-0.341h-0.171
			C110.629,495.275,7.531,386.665,7.531,255.001S110.629,14.727,242.115,7.875h0.171c4.181-0.256,8.448-0.341,12.715-0.341
			c65.636-0.011,128.586,26.058,174.997,72.469S502.478,189.365,502.467,255.001z"></path>
                                                <path class="svg-color-2" d="M476.867,255.001c0.003,131.665-103.095,240.275-234.581,247.125h-0.171
			C110.629,495.275,7.531,386.665,7.531,255.001S110.629,14.727,242.115,7.875h0.171
			C373.772,14.726,476.869,123.336,476.867,255.001z"></path>
                                                <path class="svg-color-1" d="M451.267,104.302v218.965c-0.028,9.414-7.653,17.039-17.067,17.067H75.8
			c-9.414-0.028-17.039-7.652-17.067-17.067V104.302C102.764,46.78,169.852,11.519,242.2,7.875c4.181-0.256,8.533-0.341,12.8-0.341
			C331.93,7.43,404.507,43.213,451.267,104.302z"></path>
                                                <path class="svg-color-6" d="M425.667,104.302v218.965c-0.028,9.414-7.653,17.039-17.067,17.067H75.8
			c-9.414-0.028-17.039-7.652-17.067-17.067V104.302C102.764,46.78,169.852,11.519,242.2,7.875
			C314.548,11.519,381.637,46.78,425.667,104.302z"></path>
                                                <path class="svg-color-3" d="M242.115,502.126h0.171c4.181,0.256,8.448,0.341,12.715,0.341c4.351,0,8.673-0.113,12.969-0.34
			l-0.083-0.002h-0.171C175.923,497.36,94.34,442.1,55.859,358.628s-27.516-181.397,28.474-254.29v-0.036
			c0.126-0.165,0.265-0.319,0.391-0.483c2.133-2.758,4.324-5.467,6.574-8.127c0.57-0.68,1.12-1.376,1.698-2.049
			c2.231-2.591,4.529-5.12,6.864-7.616c1.603-1.718,3.25-3.39,4.901-5.061c1.667-1.684,3.318-3.383,5.032-5.019
			c1.769-1.69,3.6-3.311,5.418-4.949c1.177-1.058,2.337-2.132,3.533-3.168c1.93-1.672,3.907-3.287,5.89-4.9
			c1.152-0.936,2.3-1.877,3.47-2.793c2.03-1.591,4.091-3.14,6.171-4.669c1.189-0.873,2.386-1.736,3.591-2.588
			c2.113-1.494,4.247-2.958,6.404-4.392c1.226-0.811,2.468-1.594,3.709-2.383c2.194-1.395,4.392-2.782,6.633-4.109
			c1.254-0.742,2.535-1.443,3.804-2.165c2.282-1.297,4.557-2.605,6.884-3.831c1.117-0.589,2.266-1.124,3.392-1.696
			c4.163-2.112,8.392-4.107,12.688-5.984c1.896-0.831,3.777-1.689,5.697-2.473c1.814-0.74,3.661-1.409,5.495-2.106
			c2.132-0.811,4.261-1.628,6.42-2.382c1.781-0.621,3.583-1.193,5.382-1.773c2.286-0.74,4.578-1.462,6.892-2.136
			c1.738-0.506,3.487-0.983,5.241-1.452c2.45-0.656,4.915-1.274,7.394-1.853c1.671-0.392,3.343-0.778,5.027-1.135
			c2.677-0.569,5.374-1.075,8.082-1.557c1.533-0.272,3.06-0.563,4.603-0.807c3.097-0.491,6.221-0.895,9.355-1.269
			c1.193-0.143,2.372-0.322,3.57-0.448c4.256-0.446,8.542-0.798,12.859-1.027c-4.111-0.207-8.235-0.366-12.397-0.366
			c-4.267,0-8.619,0.085-12.8,0.341h-0.085c-4.426,0.228-8.815,0.595-13.177,1.052c-1.197,0.126-2.377,0.305-3.57,0.448
			c-3.134,0.374-6.258,0.779-9.355,1.269c-1.543,0.244-3.07,0.534-4.603,0.807c-2.708,0.482-5.405,0.988-8.082,1.557
			c-1.684,0.357-3.356,0.743-5.027,1.135c-2.48,0.582-4.944,1.199-7.394,1.853c-1.754,0.469-3.503,0.946-5.241,1.452
			c-2.315,0.674-4.606,1.397-6.892,2.136c-1.799,0.58-3.601,1.153-5.382,1.773c-2.159,0.754-4.288,1.57-6.42,2.382
			c-1.835,0.697-3.681,1.367-5.495,2.106c-1.92,0.784-3.801,1.643-5.697,2.473c-4.295,1.88-8.524,3.875-12.688,5.984
			c-1.126,0.572-2.275,1.108-3.392,1.696c-2.328,1.226-4.602,2.534-6.884,3.831c-1.268,0.721-2.549,1.422-3.804,2.165
			c-2.241,1.327-4.439,2.714-6.633,4.109c-1.241,0.789-2.483,1.573-3.709,2.383c-2.161,1.429-4.296,2.893-6.404,4.392
			c-1.205,0.853-2.402,1.715-3.591,2.588c-2.081,1.528-4.142,3.078-6.171,4.669c-1.169,0.916-2.318,1.857-3.47,2.793
			c-1.983,1.613-3.959,3.228-5.89,4.9c-1.196,1.035-2.357,2.11-3.533,3.168c-1.819,1.638-3.649,3.259-5.418,4.949
			c-1.715,1.635-3.365,3.335-5.032,5.019c-1.651,1.671-3.298,3.343-4.901,5.061c-2.334,2.495-4.633,5.025-6.864,7.616
			c-0.578,0.673-1.128,1.37-1.698,2.049c-2.245,2.664-4.436,5.373-6.574,8.127c-0.127,0.164-0.265,0.318-0.391,0.483v0.036
			c-55.99,72.894-66.955,170.818-28.474,254.29S150.324,497.36,242.115,502.126z"></path>
	</g>
                                                <g>
                                                <path class="svg-color-3" d="M17.067,256.001c0.129,35.836,8.27,71.19,23.829,103.472c4.825,10.075,10.306,19.822,16.408,29.178
			c3.174,4.589,6.652,8.973,9.955,13.476c3.251,4.545,6.84,8.839,10.734,12.846c14.795,16.787,31.969,31.317,50.973,43.129
			c18.88,11.994,39.389,21.205,60.896,27.348c21.535,6.048,43.772,9.237,66.139,9.484v17.067
			c-23.963-0.247-47.789-3.66-70.858-10.149c-23.051-6.588-45.034-16.459-65.273-29.309c-20.352-12.66-38.747-28.223-54.603-46.197
			c-4.159-4.303-8.002-8.902-11.496-13.761c-3.546-4.817-7.257-9.524-10.652-14.444c-6.547-10.021-12.425-20.464-17.597-31.259
			C8.85,332.288,0.13,294.402,0,256.001H17.067z"></path>
                                                <g>
                                                <path class="svg-color-4" d="M17.06,331.924c1.121,0.106,2.252-0.01,3.329-0.341c4.375-1.474,6.919-6.024,5.886-10.523
				c-0.588-2.116-1.967-3.924-3.852-5.05l-1.49-0.656c-0.542-0.192-1.107-0.314-1.68-0.361c-0.531-0.118-1.076-0.158-1.618-0.118
				c-0.571,0.042-1.138,0.123-1.697,0.242c-2.193,0.564-4.078,1.963-5.252,3.9c-2.239,4.205-0.894,9.424,3.098,12.023
				C14.804,331.554,15.919,331.855,17.06,331.924z"></path>
                                                <path class="svg-color-4" d="M458.075,99.113C409.675,36.596,335.063,0.001,256,0.001S102.325,36.596,53.925,99.113
				c-0.318,0.341-0.607,0.709-0.864,1.098C18.618,144.836-0.045,199.629,0,256.001l0.881,17.627l0.482,8.81l1.323,8.728
				c0.294,2.272,1.496,4.327,3.332,5.698c1.836,1.37,4.148,1.938,6.41,1.574c4.574-0.765,7.733-4.997,7.166-9.6l-1.252-8.143
				l-0.432-8.23l-0.841-16.463C17.019,212.68,28.823,170.172,51.2,133.078v191.189c0.015,14.132,11.468,25.585,25.6,25.6h358.4
				c14.132-0.015,25.585-11.468,25.6-25.6V133.078c44.356,73.79,45.561,165.742,3.154,240.669S342.095,494.976,256,494.934
				c-22.367-0.247-44.604-3.436-66.139-9.484c-21.507-6.144-42.016-15.355-60.895-27.348
				c-19.005-11.812-36.178-26.342-50.973-43.129c-3.895-4.007-7.483-8.301-10.734-12.846c-3.302-4.503-6.781-8.887-9.955-13.476
				c-6.102-9.357-11.583-19.104-16.408-29.179l-3.58-7.419c-1.968-4.135-6.779-6.068-11.061-4.444
				c-2.157,0.833-3.872,2.523-4.736,4.668s-0.801,4.552,0.175,6.647l3.827,7.957c5.172,10.795,11.05,21.237,17.597,31.258
				c3.395,4.92,7.106,9.627,10.653,14.444c3.495,4.859,7.337,9.458,11.496,13.761c15.856,17.974,34.251,33.537,54.603,46.197
				c20.239,12.85,42.222,22.721,65.273,29.309c23.069,6.49,46.895,9.902,70.858,10.15c97.493,0.074,186.552-55.275,229.649-142.725
				s32.739-191.794-26.711-269.065C458.682,99.822,458.393,99.455,458.075,99.113z M443.733,324.267
				c-0.005,4.711-3.822,8.529-8.533,8.533H76.8c-4.711-0.005-8.529-3.822-8.533-8.533V108.464
				C113.476,50.77,182.703,17.067,256,17.067s142.524,33.703,187.733,91.397V324.267z"></path>
                                                <path class="svg-color-4" d="M392.533,213.334H119.467c-4.713,0-8.533,3.82-8.533,8.533s3.821,8.533,8.533,8.533h273.067
				c4.713,0,8.533-3.821,8.533-8.533S397.246,213.334,392.533,213.334z"></path>
                                                <path class="svg-color-4" d="M392.533,179.201H119.467c-4.713,0-8.533,3.821-8.533,8.533s3.821,8.533,8.533,8.533h273.067
				c4.713,0,8.533-3.821,8.533-8.533S397.246,179.201,392.533,179.201z"></path>
                                                <path class="svg-color-4" d="M392.533,145.067H119.467c-4.713,0-8.533,3.821-8.533,8.533c0,4.713,3.821,8.533,8.533,8.533
				h273.067c4.713,0,8.533-3.821,8.533-8.533C401.067,148.888,397.246,145.067,392.533,145.067z"></path>
                                                <path class="svg-color-4" d="M392.533,110.934H119.467c-4.713,0-8.533,3.821-8.533,8.533c0,4.713,3.821,8.533,8.533,8.533
				h273.067c4.713,0,8.533-3.821,8.533-8.533C401.067,114.755,397.246,110.934,392.533,110.934z"></path>
                                                <path class="svg-color-4" d="M392.533,76.801H119.467c-4.713,0-8.533,3.821-8.533,8.533s3.821,8.533,8.533,8.533h273.067
				c4.713,0,8.533-3.821,8.533-8.533S397.246,76.801,392.533,76.801z"></path>
                                                <path class="svg-color-4" d="M338.692,273.884c-26.667,9.264-54.503,14.734-82.692,16.25c-9.262,0-17.129-0.367-23.796-0.975
				c0.684-0.714,1.33-1.462,1.937-2.242c5.214-6.721,6.896-15.531,4.525-23.7c-1.474-5.564-5.11-10.309-10.1-13.179
				c-4.99-2.87-10.919-3.628-16.471-2.104c-15.829,2.667-32.588,16.108-31.329,31.133c0.287,3.71,1.635,7.26,3.883,10.225
				c-4.644,0.531-9.313,0.812-13.987,0.842c-4.713,0.001-8.532,3.823-8.531,8.535c0.001,4.713,3.823,8.532,8.535,8.531
				c12.472-0.087,24.884-1.736,36.946-4.908c15.856,3.679,32.116,5.328,48.387,4.908c29.995-1.422,59.627-7.177,87.975-17.084
				c4.483-1.459,6.934-6.276,5.475-10.758C347.991,274.876,343.174,272.425,338.692,273.884L338.692,273.884z M220.667,276.443
				c-3.566,3.816-8.108,6.586-13.133,8.008c-7.175-2.55-9.633-5.316-9.758-6.808c-0.312-3.708,7.883-11.317,17.158-12.875
				c0.882-0.157,1.775-0.241,2.671-0.25c3.775,0,4.271,1.925,4.529,2.933C223.215,270.502,222.662,273.894,220.667,276.443
				L220.667,276.443z"></path>
		</g>
	</g>
</g>
</svg>
                                                <h5 class="fs-0-9 fw-5  mt-2">Módulo Contabilidad</h5>
                                            </a>
                                            <div class="edit-apartado d-none">
                                                <a href="/modulo-mi-empresa/contratacion" class="" data-toggle="modal" data-target="#modalModificarTextoApartado"><i class="material-icons">edit</i></a>
                                            </div>
                                        </figure>
                                    </div>
                                    <div class="col-conf mb-3 col-2">
                                        <figure id="trigger-asistencias-4" style="transition: all 0.3s ease-in-out 0s; transform: scale(1);">
                                            <a href="/modulo-mi-empresa/permisos">
                                                <!--?xml version="1.0" encoding="iso-8859-1"?-->
                                                <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512.002 512.002" style="enable-background:new 0 0 512.002 512.002;" xml:space="preserve" class="svg-dashboard-apartado">
<g>
                                                <g transform="translate(0 1)">
                                                <g>
                                                <path class="svg-color-1" d="M503.469,255.001c0.011,65.636-26.058,128.586-72.469,174.997
				c-46.411,46.411-109.362,72.48-174.997,72.469c-4.267,0-8.533-0.085-12.715-0.341h-0.171
				C111.629,495.278,8.529,386.667,8.529,255.001S111.629,14.725,243.117,7.876h0.171c4.181-0.256,8.448-0.341,12.715-0.341
				C321.638,7.524,384.589,33.592,431,80.004C477.411,126.415,503.48,189.366,503.469,255.001z"></path>
                                                <path class="svg-color-2" d="M477.869,255.001c0.002,131.664-103.095,240.275-234.581,247.125h-0.171
				C111.629,495.278,8.529,386.667,8.529,255.001S111.629,14.725,243.117,7.876h0.171
				C374.774,14.726,477.872,123.337,477.869,255.001z"></path>
		</g>
                                                <path class="svg-color-1" d="M426.669,24.601v409.515c-2.731,2.646-5.632,5.205-8.533,7.765
			c-44.92,39.171-102.534,60.7-162.133,60.587c-4.267,0-8.533-0.085-12.8-0.341c-55.125-2.767-107.72-23.986-149.333-60.246
			c-2.901-2.559-5.803-5.119-8.533-7.765V24.601c0.027-9.414,7.652-17.039,17.067-17.067h307.2
			C419.017,7.562,426.642,15.187,426.669,24.601z"></path>
                                                <path class="svg-color-6" d="M401.069,24.601v409.515c-2.731,2.646-5.632,5.205-8.533,7.765
			c-41.613,36.261-94.208,57.479-149.333,60.246c-55.125-2.767-107.72-23.986-149.333-60.246c-2.901-2.559-5.803-5.119-8.533-7.765
			V24.601c0.027-9.414,7.652-17.039,17.067-17.067h281.6C393.417,7.562,401.042,15.187,401.069,24.601z"></path>
                                                <g>
                                                <circle class="svg-color-2" cx="238.936" cy="118.468" r="68.267"></circle>
                                                <circle class="svg-color-3" cx="238.936" cy="109.935" r="25.6"></circle>
                                                <path class="svg-color-2" d="M273.069,164.718v12.8c-21.096,12.289-47.17,12.289-68.267,0v-12.8
				c1.464-17.435,16.683-30.446,34.133-29.183c8.798-0.122,17.344,2.939,24.064,8.619
				C269.257,149.162,272.949,156.704,273.069,164.718z"></path>
		</g>
	</g>
                                                <g>
                                                <g>
                                                <path class="svg-color-3" d="M125.447,466.176c0.531,0.331,1.061,0.66,1.596,0.988c5.257,3.217,10.637,6.244,16.14,9.081
				c0.621,0.32,1.254,0.618,1.878,0.932c5.632,2.83,11.358,5.501,17.227,7.904l0.18,0.068c5.709,2.332,11.546,4.407,17.459,6.316
				c0.843,0.273,1.675,0.568,2.522,0.831c5.679,1.766,11.456,3.302,17.303,4.662c1.152,0.268,2.303,0.529,3.461,0.781
				c5.862,1.275,11.792,2.362,17.801,3.213c0.968,0.137,1.944,0.241,2.916,0.366c6.331,0.821,12.716,1.473,19.188,1.806h0.085
				c4.267,0.256,8.533,0.341,12.8,0.341c4.089,0,8.151-0.112,12.191-0.308c0.171-0.009,0.338-0.025,0.508-0.035
				c-6.466-0.332-12.846-0.983-19.172-1.804c-0.971-0.125-1.948-0.229-2.916-0.366c-6.009-0.851-11.938-1.939-17.801-3.213
				c-1.158-0.252-2.309-0.514-3.461-0.781c-5.847-1.36-11.623-2.897-17.303-4.662c-0.847-0.264-1.679-0.558-2.522-0.831
				c-5.913-1.908-11.75-3.983-17.459-6.316l-0.18-0.068c-5.869-2.403-11.595-5.074-17.227-7.904
				c-0.624-0.315-1.257-0.612-1.878-0.932c-5.507-2.825-10.887-5.852-16.14-9.081c-0.534-0.327-1.065-0.656-1.596-0.988
				C85.978,425.781,43.287,357.527,35.439,281.342S55.469,129.633,110.936,76.82V25.601c0.027-9.414,7.652-17.039,17.067-17.067
				h-25.6c-9.414,0.027-17.039,7.652-17.067,17.067V76.82C29.869,129.633,1.99,205.157,9.838,281.342
				S60.378,425.781,125.447,466.176z"></path>
                                                <path class="svg-color-3" d="M0.003,256.001C-0.031,185.953,28.694,118.963,79.46,70.698l11.752,12.376
				c-47.372,45.043-74.176,107.559-74.142,172.927H0.003z"></path>
		</g>
                                                <g>
                                                <path class="svg-color-4" d="M335.303,227.901c2.149,2.188,5.307,3.055,8.271,2.27s5.28-3.1,6.065-6.065
				c0.785-2.965-0.082-6.122-2.27-8.271l-48.486-48.486c25.515-31.919,21.651-78.21-8.803-105.457
				c-30.454-27.247-76.888-25.957-105.783,2.937s-30.184,75.329-2.937,105.783c27.247,30.454,73.538,34.318,105.457,8.803
				L335.303,227.901z M179.203,119.468c-0.019-27.047,18.138-50.732,44.262-57.737c26.124-7.005,53.696,4.417,67.211,27.845
				c13.516,23.428,9.603,53.014-9.538,72.123c-1.105-8.969-5.58-17.182-12.518-22.973c-1.689-1.434-3.491-2.729-5.388-3.873
				c13.2-13.37,13.114-34.894-0.192-48.159s-34.83-13.284-48.159-0.042c-13.329,13.241-13.453,34.765-0.276,48.158
				c-9.753,5.76-16.337,15.663-17.876,26.884C185.501,150.513,179.193,135.315,179.203,119.468z M221.869,110.935
				c0-9.426,7.641-17.067,17.067-17.067c9.426,0,17.067,7.641,17.067,17.067s-7.641,17.067-17.067,17.067
				C229.515,127.99,221.88,120.356,221.869,110.935z M213.336,173.355v-7.637c1.52-12.687,12.878-21.849,25.6-20.65
				c6.797-0.124,13.405,2.234,18.587,6.633c4.326,3.381,6.901,8.528,7.013,14.017v7.637
				C248.359,181.15,229.513,181.15,213.336,173.355L213.336,173.355z"></path>
                                                <path class="svg-color-4" d="M207.303,232.901l-45.167,45.166l-11.034-11.034c-2.151-2.178-5.304-3.037-8.262-2.251
				c-2.958,0.786-5.269,3.097-6.055,6.055c-0.786,2.958,0.073,6.111,2.251,8.262l17.067,17.067c1.6,1.601,3.77,2.5,6.033,2.5
				c2.263,0,4.433-0.899,6.033-2.5l51.2-51.2c3.296-3.338,3.279-8.711-0.038-12.029
				C216.014,229.622,210.641,229.605,207.303,232.901z"></path>
                                                <path class="svg-color-4" d="M366.936,264.535h-102.4c-4.713,0-8.533,3.82-8.533,8.533s3.821,8.533,8.533,8.533h102.4
				c4.713,0,8.533-3.821,8.533-8.533S371.649,264.535,366.936,264.535z"></path>
                                                <path class="svg-color-4" d="M207.303,309.701l-45.167,45.166l-11.034-11.034c-3.338-3.296-8.711-3.279-12.029,0.038
				s-3.334,8.691-0.038,12.029l17.067,17.067c1.6,1.601,3.77,2.5,6.033,2.5c2.263,0,4.433-0.899,6.033-2.5l51.2-51.2
				c3.296-3.338,3.279-8.711-0.038-12.029C216.014,306.422,210.641,306.405,207.303,309.701z"></path>
                                                <path class="svg-color-4" d="M366.936,341.335h-102.4c-4.713,0-8.533,3.82-8.533,8.533s3.821,8.533,8.533,8.533h102.4
				c4.713,0,8.533-3.82,8.533-8.533S371.649,341.335,366.936,341.335z"></path>
                                                <path class="svg-color-4" d="M207.303,386.501l-45.167,45.166l-11.034-11.034c-3.338-3.296-8.711-3.279-12.029,0.038
				s-3.334,8.691-0.038,12.029l17.067,17.067c1.6,1.601,3.77,2.5,6.033,2.5c2.263,0,4.433-0.899,6.033-2.5l51.2-51.2
				c3.296-3.338,3.279-8.711-0.038-12.029C216.014,383.222,210.641,383.205,207.303,386.501z"></path>
                                                <path class="svg-color-4" d="M366.936,418.135h-102.4c-4.713,0-8.533,3.82-8.533,8.533s3.821,8.533,8.533,8.533h102.4
				c4.713,0,8.533-3.821,8.533-8.533S371.649,418.135,366.936,418.135z"></path>
                                                <path class="svg-color-4" d="M9.678,186.279c-0.66,2.23-0.39,4.632,0.749,6.66l0.997,1.333c0.383,0.436,0.824,0.817,1.31,1.134
				c0.411,0.358,0.874,0.651,1.374,0.869c0.524,0.228,1.064,0.419,1.615,0.573c2.186,0.501,4.48,0.178,6.443-0.906
				c0.922-0.586,1.733-1.329,2.398-2.196c2.104-2.61,2.428-6.232,0.819-9.173c-0.572-0.967-1.313-1.824-2.19-2.527
				c-0.855-0.725-1.84-1.281-2.902-1.638c-2.154-0.664-4.484-0.454-6.484,0.585C11.82,182.181,10.348,184.065,9.678,186.279z"></path>
                                                <path class="svg-color-4" d="M435.203,73.347V25.601c-0.015-14.132-11.468-25.585-25.6-25.6h-307.2
				c-14.132,0.015-25.585,11.468-25.6,25.6v47.87c-21.155,20.723-38.581,44.936-51.512,71.577l-3.741,7.998
				c-1.867,4.308,0.096,9.315,4.395,11.205c4.298,1.89,9.316-0.048,11.228-4.336l3.493-7.459
				c9.522-19.671,21.68-37.954,36.137-54.344v315.827c-38.708-43.477-59.982-99.726-59.733-157.938
				c0.05-10.992,0.825-21.969,2.317-32.859c0.505-4.582-2.622-8.773-7.158-9.594c-2.267-0.395-4.596,0.16-6.44,1.536
				c-1.844,1.375-3.041,3.449-3.31,5.735c-1.599,11.66-2.426,23.414-2.476,35.183c-0.317,70.026,28.39,137.055,79.294,185.145
				l0.013,0.012l0.093,0.093c2.687,2.6,5.537,5.125,8.867,8.067c96.385,83.736,239.761,83.558,335.938-0.417
				c2.859-2.525,5.708-5.05,8.337-7.592l0.152-0.152l0.012-0.011c50.202-47.842,78.819-114.024,79.289-183.37
				S484.751,121.866,435.203,73.347z M256.003,494.935c-57.687,0-113.422-20.891-156.896-58.808
				c-1.769-1.565-3.499-3.175-5.238-4.776V25.601c0.005-4.711,3.822-8.529,8.533-8.533h307.2c4.711,0.005,8.529,3.822,8.533,8.533
				v405.806c-1.758,1.618-3.579,3.254-5.6,5.044C369.122,474.191,313.527,494.962,256.003,494.935z M435.203,413.935V98.064
				C514.847,188.293,514.847,323.706,435.203,413.935z"></path>
		</g>
	</g>
</g>
</svg>
                                                <h5 class="fs-0-9 fw-5  mt-2">Módulo Facturación</h5>
                                            </a>
                                            <div class="edit-apartado animated fadeInUp d-none">
                                                <a href="/modulo-mi-empresa/permisos" class="" data-toggle="modal" data-target="#modalModificarTextoApartado"><i class="material-icons">edit</i></a>
                                            </div>
                                        </figure>
                                    </div>
                                    <div class="col-conf mb-3 col-2">
                                        <figure id="trigger-asistencias-5" style="transition: all 0.3s ease-in-out 0s; transform: scale(1);">
                                            <a href="/modulo-mi-empresa/grupos-usuarios">
                                                <!--?xml version="1.0" encoding="iso-8859-1"?-->
                                                <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512.273 512.273" style="enable-background:new 0 0 512.273 512.273;" xml:space="preserve" class="svg-dashboard-apartado">
<g transform="translate(0 -1)">
                                                <g transform="translate(1 2)">
                                                <circle class="svg-color-6" cx="255.136" cy="41.939" r="34.133"></circle>
                                                <path class="svg-color-1" d="M306.336,124.798v19.541h-102.4v-19.541c1.347-27.294,23.872-48.731,51.2-48.725
			C282.715,75.428,305.615,97.221,306.336,124.798z"></path>
                                                <circle class="svg-color-6" cx="152.736" cy="212.606" r="34.133"></circle>
                                                <path class="svg-color-1" d="M203.936,295.465v19.541h-102.4v-19.541c0.388-22.684,16.259-42.153,38.4-47.104
			c4.176-1.105,8.48-1.651,12.8-1.621C180.315,246.095,203.215,267.888,203.936,295.465z"></path>
                                                <circle class="svg-color-6" cx="357.536" cy="212.606" r="34.133"></circle>
                                                <path class="svg-color-1" d="M408.736,295.465v19.541h-102.4v-19.541c1.347-27.294,23.872-48.731,51.2-48.725
			C385.115,246.095,408.015,267.888,408.736,295.465z"></path>
                                                <circle class="svg-color-6" cx="255.136" cy="400.339" r="34.133"></circle>
                                                <path class="svg-color-1" d="M306.336,483.198v19.541h-102.4v-19.541c1.347-27.294,23.872-48.731,51.2-48.725
			C282.715,433.828,305.615,455.621,306.336,483.198z"></path>
                                                <circle class="svg-color-6" cx="58.87" cy="400.339" r="34.133"></circle>
                                                <path class="svg-color-1" d="M110.07,483.198v19.541H7.67v-19.541c0.388-22.684,16.259-42.153,38.4-47.104
			c4.176-1.105,8.48-1.651,12.8-1.621C86.448,433.828,109.348,455.621,110.07,483.198z"></path>
                                                <circle class="svg-color-6" cx="451.403" cy="400.339" r="34.133"></circle>
                                                <path class="svg-color-1" d="M502.603,483.198v19.541h-102.4v-19.541c1.347-27.294,23.872-48.731,51.2-48.725
			C478.982,433.828,501.882,455.621,502.603,483.198z"></path>
                                                <g>
                                                <path class="svg-color-2" d="M280.736,124.798v19.541h-76.8v-19.541c0.388-22.684,16.259-42.153,38.4-47.104
				C264.477,82.646,280.348,102.114,280.736,124.798z"></path>
                                                <path class="svg-color-2" d="M178.336,295.465v19.541h-76.8v-19.541c0.388-22.684,16.259-42.153,38.4-47.104
				C162.077,253.312,177.948,272.78,178.336,295.465z"></path>
                                                <path class="svg-color-2" d="M383.136,295.465v19.541h-76.8v-19.541c0.388-22.684,16.259-42.153,38.4-47.104
				C366.877,253.312,382.748,272.78,383.136,295.465z"></path>
                                                <path class="svg-color-2" d="M280.736,483.198v19.541h-76.8v-19.541c0.388-22.684,16.259-42.153,38.4-47.104
				C264.477,441.046,280.348,460.514,280.736,483.198z"></path>
                                                <path class="svg-color-2" d="M84.47,483.198v19.541H7.67v-19.541c0.388-22.684,16.259-42.153,38.4-47.104
				C68.21,441.046,84.081,460.514,84.47,483.198z"></path>
                                                <path class="svg-color-2" d="M477.003,483.198v19.541h-76.8v-19.541c0.388-22.684,16.259-42.153,38.4-47.104
				C460.744,441.046,476.615,460.514,477.003,483.198z"></path>
		</g>
                                                <g>
                                                <path class="svg-color-3" d="M50.336,400.339c-0.01-13.904,8.435-26.418,21.333-31.611
				c-14.261-5.809-30.647-1.35-39.997,10.885c-9.351,12.235-9.351,29.217,0,41.452c9.351,12.235,25.736,16.695,39.997,10.885
				C58.772,426.757,50.327,414.244,50.336,400.339z"></path>
                                                <path class="svg-color-3" d="M33.27,483.198c0.388-22.684,16.259-42.153,38.4-47.104l0.045-0.009
				c-4.2-1.056-8.514-1.598-12.845-1.613c-4.32-0.029-8.624,0.516-12.8,1.621c-22.141,4.951-38.012,24.42-38.4,47.104v19.541h25.6
				V483.198z"></path>
                                                <path class="svg-color-3" d="M229.536,483.198c0.388-22.684,16.259-42.153,38.4-47.104l0.045-0.009
				c-4.2-1.056-8.514-1.598-12.845-1.613c-27.328-0.006-49.853,21.431-51.2,48.725v19.541h25.6V483.198z"></path>
                                                <path class="svg-color-3" d="M246.603,41.939c-0.01-13.904,8.435-26.418,21.333-31.611
				c-14.261-5.809-30.647-1.35-39.997,10.885c-9.351,12.235-9.351,29.217,0,41.452c9.351,12.235,25.736,16.695,39.997,10.885
				C255.038,68.357,246.594,55.844,246.603,41.939z"></path>
                                                <path class="svg-color-3" d="M229.536,124.798c0.388-22.684,16.259-42.153,38.4-47.104l0.045-0.009
				c-4.2-1.056-8.514-1.598-12.845-1.613c-27.328-0.006-49.853,21.431-51.2,48.725v19.541h25.6V124.798z"></path>
                                                <path class="svg-color-3" d="M144.203,212.606c-0.01-13.904,8.435-26.418,21.333-31.611
				c-14.261-5.809-30.647-1.35-39.997,10.885s-9.351,29.217,0,41.452c9.351,12.235,25.736,16.695,39.997,10.885
				C152.638,239.024,144.194,226.51,144.203,212.606z"></path>
                                                <path class="svg-color-3" d="M357.536,246.739c-27.328-0.006-49.853,21.431-51.2,48.725v19.541h25.6v-19.541
				c0.388-22.684,16.259-42.153,38.4-47.104l0.045-0.009C366.181,247.296,361.867,246.755,357.536,246.739z"></path>
                                                <path class="svg-color-3" d="M442.87,400.339c-0.01-13.904,8.435-26.418,21.333-31.611
				c-14.261-5.809-30.647-1.35-39.997,10.885c-9.351,12.235-9.351,29.217,0,41.452c9.351,12.235,25.736,16.695,39.997,10.885
				C451.305,426.757,442.86,414.244,442.87,400.339z"></path>
                                                <path class="svg-color-3" d="M127.136,295.465c0.388-22.684,16.259-42.153,38.4-47.104l0.045-0.009
				c-4.2-1.056-8.514-1.598-12.845-1.613c-4.32-0.029-8.624,0.516-12.8,1.621c-22.141,4.951-38.012,24.42-38.4,47.104v19.541h25.6
				V295.465z"></path>
                                                <path class="svg-color-3" d="M425.803,483.198c0.388-22.684,16.259-42.153,38.4-47.104l0.045-0.009
				c-4.2-1.056-8.514-1.598-12.845-1.613c-27.328-0.006-49.853,21.431-51.2,48.725v19.541h25.6V483.198z"></path>
                                                <path class="svg-color-3" d="M246.603,400.339c-0.01-13.904,8.435-26.418,21.333-31.611
				c-14.261-5.809-30.647-1.35-39.997,10.885c-9.351,12.235-9.351,29.217,0,41.452c9.351,12.235,25.736,16.695,39.997,10.885
				C255.038,426.757,246.594,414.244,246.603,400.339z"></path>
                                                <path class="svg-color-3" d="M349.003,212.606c-0.01-13.904,8.435-26.418,21.333-31.611
				c-14.261-5.809-30.647-1.35-39.997,10.885c-9.351,12.235-9.351,29.217,0,41.452c9.351,12.235,25.736,16.695,39.997,10.885
				C357.438,239.024,348.994,226.51,349.003,212.606z"></path>
		</g>
	</g>
                                                <g>
                                                <path class="svg-color-4" d="M196.403,126.835v19.504c-0.001,2.263,0.898,4.434,2.499,6.035s3.771,2.499,6.035,2.499h102.4
			c2.263,0.001,4.434-0.898,6.035-2.499c1.6-1.6,2.499-3.771,2.499-6.035v-19.504c-0.22-21.605-12.617-41.234-32.032-50.716
			c13.593-11.603,18.514-30.447,12.331-47.215C289.985,12.137,274.008,1,256.136,1s-33.849,11.137-40.032,27.905
			c-6.183,16.767-1.262,35.612,12.331,47.215C209.021,85.601,196.623,105.231,196.403,126.835z M230.536,43.939
			c0-14.138,11.462-25.6,25.6-25.6s25.6,11.462,25.6,25.6s-11.462,25.6-25.6,25.6C242.004,69.524,230.552,58.072,230.536,43.939z
			 M256.136,86.606c22.873-0.627,41.949,17.358,42.667,40.229v10.971H213.47v-10.971C214.188,103.964,233.263,85.979,256.136,86.606
			z"></path>
                                                <path class="svg-color-4" d="M94.003,297.502v19.504c-0.001,2.263,0.898,4.434,2.499,6.035s3.771,2.499,6.035,2.499h102.4
			c2.263,0.001,4.434-0.898,6.035-2.499s2.499-3.771,2.499-6.035v-19.504c-0.22-21.605-12.617-41.234-32.032-50.716
			c13.593-11.603,18.514-30.447,12.331-47.215c-6.183-16.768-22.161-27.905-40.032-27.905s-33.849,11.137-40.032,27.905
			c-6.183,16.768-1.262,35.612,12.331,47.215C106.621,256.268,94.223,275.897,94.003,297.502z M128.136,214.606
			c0-14.138,11.462-25.6,25.6-25.6s25.6,11.462,25.6,25.6s-11.462,25.6-25.6,25.6C139.604,240.191,128.152,228.738,128.136,214.606z
			 M153.736,257.273c22.873-0.627,41.949,17.358,42.667,40.229v10.971H111.07v-10.971
			C111.788,274.631,130.863,256.646,153.736,257.273z"></path>
                                                <path class="svg-color-4" d="M401.203,214.606c0.126-19.763-13.336-37.025-32.534-41.719
			c-19.198-4.693-39.106,4.411-48.112,22.002c-9.006,17.591-4.754,39.066,10.278,51.897c-19.414,9.481-31.812,29.111-32.032,50.716
			v19.504c-0.001,2.263,0.898,4.434,2.499,6.035s3.771,2.499,6.035,2.499h102.4c2.263,0.001,4.434-0.898,6.035-2.499
			c1.6-1.6,2.499-3.771,2.499-6.035v-19.504c-0.22-21.605-12.617-41.234-32.032-50.716
			C395.692,238.764,401.16,227.005,401.203,214.606z M401.203,297.502v10.971H315.87v-10.971
			c1.329-22.591,20.037-40.23,42.667-40.23C381.166,257.272,399.874,274.911,401.203,297.502z M332.936,214.606
			c0-14.138,11.462-25.6,25.6-25.6c14.138,0,25.6,11.462,25.6,25.6s-11.462,25.6-25.6,25.6
			C344.404,240.191,332.952,228.738,332.936,214.606z"></path>
                                                <path class="svg-color-4" d="M196.403,485.235v19.504c-0.001,2.263,0.898,4.434,2.499,6.035c1.6,1.6,3.771,2.499,6.035,2.499
			h102.4c2.263,0.001,4.434-0.898,6.035-2.499c1.6-1.6,2.499-3.771,2.499-6.035v-19.504c-0.22-21.605-12.617-41.234-32.032-50.716
			c13.593-11.603,18.514-30.447,12.331-47.215c-6.183-16.768-22.161-27.905-40.032-27.905s-33.849,11.137-40.032,27.905
			c-6.183,16.767-1.262,35.612,12.331,47.215C209.021,444.001,196.623,463.631,196.403,485.235z M230.536,402.339
			c0-10.354,6.237-19.689,15.803-23.651c9.566-3.962,20.577-1.772,27.899,5.549c7.322,7.322,9.512,18.333,5.549,27.899
			c-3.962,9.566-13.297,15.803-23.651,15.803C242.004,427.924,230.552,416.472,230.536,402.339z M256.136,445.006
			c22.873-0.627,41.949,17.358,42.667,40.229v10.971H213.47v-10.971C214.188,462.365,233.263,444.379,256.136,445.006z"></path>
                                                <path class="svg-color-4" d="M8.67,513.273h102.4c2.263,0.001,4.434-0.898,6.035-2.499c1.6-1.6,2.499-3.771,2.499-6.035v-19.504
			c-0.22-21.605-12.617-41.234-32.032-50.716c13.593-11.603,18.514-30.447,12.331-47.215C93.719,370.537,77.741,359.4,59.87,359.4
			s-33.849,11.137-40.032,27.905c-6.183,16.767-1.262,35.612,12.331,47.215c-19.414,9.481-31.812,29.111-32.032,50.716v19.504
			c-0.001,2.263,0.898,4.434,2.499,6.035C4.236,512.375,6.406,513.273,8.67,513.273z M34.27,402.339
			c0-10.354,6.237-19.689,15.803-23.651c9.566-3.962,20.577-1.772,27.899,5.549c7.322,7.322,9.512,18.333,5.549,27.899
			c-3.962,9.566-13.297,15.803-23.651,15.803C45.738,427.924,34.285,416.472,34.27,402.339z M17.203,485.235
			c0.718-22.871,19.793-40.856,42.667-40.229c22.873-0.627,41.949,17.358,42.667,40.229v10.971H17.203V485.235z"></path>
                                                <path class="svg-color-4" d="M480.105,434.52c13.593-11.603,18.514-30.447,12.331-47.215
			c-6.183-16.768-22.161-27.905-40.032-27.905c-17.871,0-33.849,11.137-40.032,27.905c-6.183,16.767-1.262,35.612,12.331,47.215
			c-19.414,9.481-31.812,29.111-32.032,50.716v19.504c-0.001,2.263,0.898,4.434,2.499,6.035c1.6,1.6,3.771,2.499,6.035,2.499h102.4
			c2.263,0.001,4.434-0.898,6.035-2.499c1.6-1.6,2.499-3.771,2.499-6.035v-19.504C511.917,463.631,499.519,444.001,480.105,434.52z
			 M426.803,402.339c0-10.354,6.237-19.689,15.803-23.651c9.566-3.962,20.577-1.772,27.899,5.549
			c7.322,7.322,9.512,18.333,5.549,27.899c-3.962,9.566-13.297,15.803-23.651,15.803
			C438.271,427.924,426.818,416.472,426.803,402.339z M495.07,496.206h-85.333v-10.971c1.329-22.591,20.037-40.23,42.667-40.23
			c22.63,0,41.337,17.639,42.667,40.23V496.206z"></path>
                                                <path class="svg-color-4" d="M256.136,171.939c-2.263-0.001-4.434,0.898-6.035,2.499c-1.6,1.6-2.499,3.771-2.499,6.035v51.2
			h-17.067c-4.713,0-8.533,3.821-8.533,8.533s3.82,8.533,8.533,8.533h51.2c4.713,0,8.533-3.82,8.533-8.533s-3.82-8.533-8.533-8.533
			H264.67v-51.2c0.001-2.263-0.898-4.434-2.499-6.035C260.571,172.838,258.4,171.939,256.136,171.939z"></path>
                                                <path class="svg-color-4" d="M153.736,359.673c-2.263-0.001-4.434,0.898-6.035,2.499c-1.6,1.6-2.499,3.771-2.499,6.035v51.2
			h-17.067c-4.713,0-8.533,3.82-8.533,8.533s3.821,8.533,8.533,8.533h51.2c4.713,0,8.533-3.82,8.533-8.533s-3.82-8.533-8.533-8.533
			H162.27v-51.2c0.001-2.263-0.898-4.434-2.499-6.035C158.171,360.571,156,359.672,153.736,359.673z"></path>
                                                <path class="svg-color-4" d="M375.603,419.406h-17.067v-51.2c0-4.713-3.82-8.533-8.533-8.533s-8.533,3.82-8.533,8.533v51.2
			h-17.067c-4.713,0-8.533,3.82-8.533,8.533s3.82,8.533,8.533,8.533h51.2c4.713,0,8.533-3.82,8.533-8.533
			S380.316,419.406,375.603,419.406z"></path>
	</g>
</g>
</svg>

                                                <h5 class="fs-0-9 fw-5  mt-2">Módulo Presupuestos</h5>
                                            </a>
                                            <div class="edit-apartado animated fadeInUp d-none">
                                                <a href="/modulo-mi-empresa/grupos-usuarios" class="" data-toggle="modal" data-target="#modalModificarTextoApartado"><i class="material-icons">edit</i></a>
                                            </div>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="card card-table mb-3">
                    <div class="card-header card-header-options">
                        <span>Módulo asistencias: Preferencias</span>
                    </div>
                    <div class="card-block">
                        i
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center">Nº</th>
                                    <th class="w-50">Preferencia</th>
                                    <th class="w-50">Descripción</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for(int i=0; i<10; i++) {
                                <tr>
                                    <td class="text-center">1</td>
                                    <td><a href="#" class="fw-5">Preferencia para poder editar características (ejemplo)</a></td>
                                    <td>Descripción de la preferencia</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-table mb-3">
                    <div class="card-header card-header-options">
                        <span>Usuarios a los que se quiere dar privilegios</span>
                        <div class="input-group input-group-sm col-6 mr-0 pr-0">
                            <input type="text" class="form-control form-control-sm" id="nuevotipo" placeholder="Buscar usuarios" maxlength="100">
                            <span class="input-group-append">
                                <button type="button" class="btn btn-primary btn-sm">Añadir</button>
                            </span>
                        </div>
                    </div>
                    <div class="card-block">

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Usuario</th>
                                    <th class="w-5">Activar</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for(int i=0; i<10; i++) {
                                <tr>
                                    <td><p class="mb-0">Javier Paniello</p></td>
                                    <td><div class="d-flex align-items-center justify-content-center"><input type="checkbox" /></div></td>
                                </tr>
                                }
                            </tbody>
                        </table>
                        <div class="d-flex justify-content-center box-guardar">
                            <a href="#" target="_blank" class="btn btn-sm btn-primary regla-guardar">Guardar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>