<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<location path="~/Admin/SomePage.aspx">
    <system.web>
      <sessionState timeout="240" />
      <httpRuntime executionTimeout="14400" />
    </system.web>
  </location>-->
  <!--
  <system.web>
    <globalization fileEncoding="iso-8859-1" requestEncoding="iso-8859-1" responseEncoding="iso-8859-1" />
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" />
  </system.web>
  -->
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore requestTimeout="23:00:00" processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false" startupTimeLimit="3600">
      <environmentVariables />
    </aspNetCore>
    <!--requestTimeout="00:20:00"-->
  </system.webServer>
</configuration>