/* Forms */
/* Mixins */
/* Skin v4.6 - White / Dark / Blue */
label {
  font-weight: 500; }

.form-check-with-items {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .form-check-with-items .badge {
    font-size: 90%;
    font-weight: 500; }
  .form-check-with-items .custom-checkbox {
    margin-top: 0.2rem; }
  .form-check-with-items .custom-control-description {
    font-weight: 500;
    padding-top: 0.1rem; }

.input-group-sm > .input-group-btn > .btn {
  font-size: 0.8rem; }

.form-control,
.custom-select {
  border: 1px solid #9bcdf5;
  box-shadow: 0 0 3px #e5e5e5; }
  .form-control:active, .form-control:hover, .form-control:focus,
  .custom-select:active,
  .custom-select:hover,
  .custom-select:focus {
    border: 1px solid #42a5f5; }

.input-white {
  border-radius: 0;
  border: none !important;
  box-shadow: 0 0 2px #cfd8dc !important; }

.ui-autocomplete-input {
  transform: none !important; }

.custom-select {
  height: calc(1.78rem); }

.custom-select, select {
  cursor: pointer; }

.custom-control-indicator {
  top: 0.10rem; }

.form-control-sm {
  padding: 0.2rem 0.5rem !important; }

.form-control-sm-2x {
  padding: 0.2rem 0.5rem !important;
  line-height: 1 !important;
  font-size: 0.8rem !important; }

.form-control::-webkit-input-placeholder {
  color: #bdbdbd; }

.form-control:-moz-placeholder {
  color: #bdbdbd; }

.form-control::-moz-placeholder {
  color: #bdbdbd; }

.form-control:-ms-input-placeholder {
  color: #bdbdbd; }

input[type='text'].ui-autocomplete-loading {
  background: url("../images/loading2.svg") no-repeat right center; }

.sub-option {
  padding-left: 1rem; }

.jfilesystem-cuentas-bancarias {
  width: 100px !important; }

.form-control, .custom-select, .form-control-sm {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 0.8rem !important;
  border-radius: 0.1rem !important; }

input-group > .form-control::before {
  content: "\f054" !important;
  font-family: 'FontAwesome' !important;
  display: inline-block !important;
  position: absolute !important;
  color: #2196f3 !important; }

select.form-control-sm:not([size]):not([multiple]) {
  height: calc(1.7rem + 2px); }

.ui-autocomplete-input {
  box-shadow: 0 0 3px #e5e5e5 !important; }

/* Forms with labels inside */
.input-group-text {
  font-size: 0.9em !important;
  font-weight: 500 !important;
  min-width: 115px !important;
  padding: .36rem .75rem !important;
  background: #eceff1;
  border: 1px solid #cfd8dc; }

.input-group-text-auto {
  min-width: 0 !important; }

.input-group-text-check {
  display: flex;
  align-items: center;
  padding: .375rem .75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  font-size: 0.8rem !important;
  font-weight: 500 !important;
  min-width: 40px !important;
  padding: .36rem .75rem !important;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  text-align: center;
  border-right: none; }

.custom-select {
  padding: 0 1.75rem 0 .75rem !important;
  height: 2.55em !important; }

.custom-select-sm {
  height: calc(1.65rem + 2px) !important;
  padding: 0 1.75rem 0 .75rem !important; }

.input-group-sm > .input-group-prepend > .input-group-text {
  border-radius: .1rem !important; }

/* Bootstrap 4 prepends appends fixes */
/*
.input-group-sm > .input-group-append > .btn, .input-group-sm > .input-group-append > .input-group-text, .input-group-sm > .input-group-prepend > .btn, .input-group-sm > .input-group-prepend > .input-group-text {
    font-size: 0.8rem !important;
}

.custom-control-label,
.custom-control-description {
    font-weight: 500;
    font-size: 0.9em;
    padding-top: 0.2em;
    color: $md-blue-grey-700;
}
    */
.input-group > .input-group-append > .btn {
  background: #fff;
  color: #2196f3; }
  .input-group > .input-group-append > .btn:hover {
    background: #2196f3;
    border: 1px solid #2196f3;
    color: #fff; }

.d-check span {
  width: max-content !important; }

.input-disabled-green:disabled {
  border-color: #81c784;
  background: #c8e6c9; }

.mw-auto {
  width: auto !important; }

.mw-none {
  min-width: 0 !important; }

.mw-35 {
  min-width: 35px !important; }

.mw-80 {
  min-width: 80px !important; }

.mw-85 {
  min-width: 85px !important; }

.mw-90 {
  min-width: 90px !important; }

.mw-95 {
  min-width: 95px !important; }

.mw-100 {
  min-width: 100px !important; }

.mw-110 {
  min-width: 110px !important; }

.mw-115 {
  min-width: 115px !important; }

.mw-120 {
  min-width: 120px !important; }

.mw-125 {
  min-width: 125px !important; }

.mw-130 {
  min-width: 130px !important; }

.mw-140 {
  min-width: 140px !important; }

.mw-150 {
  min-width: 150px !important; }

.mw-160 {
  min-width: 160px !important; }

.mw-170 {
  min-width: 170px !important; }

.mw-175 {
  min-width: 175px !important; }

.mw-180 {
  min-width: 180px !important; }

.mw-185 {
  min-width: 185px !important; }

.mw-190 {
  min-width: 190px !important; }

.mw-195 {
  min-width: 195px !important; }

.mw-200 {
  min-width: 200px !important; }

.mw-210 {
  min-width: 210px !important; }

.mw-220 {
  min-width: 220px !important; }

.mw-230 {
  min-width: 230px !important; }

.mw-240 {
  min-width: 240px !important; }

.mw-250 {
  min-width: 250px !important; }

.mw-260 {
  min-width: 260px !important; }

.mw-270 {
  min-width: 270px !important; }

.mw-280 {
  min-width: 280px !important; }

.mw-290 {
  min-width: 290px !important; }

.mw-300 {
  min-width: 300px !important; }

.mw-310 {
  min-width: 310px !important; }

.mw-320 {
  min-width: 320px !important; }

.mw-330 {
  min-width: 330px !important; }

.mw-340 {
  min-width: 340px !important; }

.mw-350 {
  min-width: 350px !important; }
