/* jGrowl custom estilos */
/* Mixins */
/* Skin v4.6 - White / Dark / Blue */
.jGrowl-notification {
  opacity: 0.9;
  opacity: 1;
  zoom: 0;
  width: 350px;
  padding: 10px;
  margin: 10px;
  text-align: left;
  display: none;
  border-radius: 3px;
  min-height: 0; }
  .jGrowl-notification .jGrowl-close {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 0; }
  .jGrowl-notification .jGrowl-message {
    text-align: center;
    display: block;
    margin: 10px auto; }
  .jGrowl-notification .jGrowl-header {
    font-size: 1em !important; }
  .jGrowl-notification .jGrowl-close {
    font-size: 1.3em !important; }

.bg-success-jgrowl {
  border: none;
  background: #fff;
  color: #00bfa5;
  font-weight: 500;
  font-size: 1.2em;
  box-shadow: 0 0 100px #607d8b; }
  .bg-success-jgrowl .jGrowl-message {
    text-align: center;
    display: block;
    margin: 20px auto; }

.bg-danger-jgrowl {
  border: none;
  background: #fff;
  color: #ff1744;
  font-size: 1.2em;
  box-shadow: 0 0 100px #607d8b; }
  .bg-danger-jgrowl .jGrowl-message {
    text-align: center;
    display: block;
    margin: 20px auto; }

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0; }
  .path.circle {
    -webkit-animation: dash .9s ease-in-out;
    animation: dash .9s ease-in-out; }
  .path.line {
    stroke-dashoffset: 1000;
    -webkit-animation: dash .9s .35s ease-in-out forwards;
    animation: dash .9s .35s ease-in-out forwards; }
  .path.check {
    stroke-dashoffset: -100;
    -webkit-animation: dash-check .9s .35s ease-in-out forwards;
    animation: dash-check .9s .35s ease-in-out forwards; }

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000; }
  100% {
    stroke-dashoffset: 0; } }

@keyframes dash {
  0% {
    stroke-dashoffset: 1000; }
  100% {
    stroke-dashoffset: 0; } }

@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100; }
  100% {
    stroke-dashoffset: 900; } }

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100; }
  100% {
    stroke-dashoffset: 900; } }
