/* Full Image Parallax */
/* Mixins */
/* Skin v4.6 - White / Dark / Blue */
.tab-pane {
  padding: 2rem 0; }

/* Tabs */
.box-tab {
  border-bottom: 1px solid #cfd8dc; }

.btn-tab {
  font-size: 0.9em;
  font-weight: 500;
  border: 1px solid #cfd8dc;
  border-bottom: none;
  background: #fff;
  color: #607d8b;
  position: relative;
  border-radius: 2px;
  text-transform: uppercase;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }
  .btn-tab:hover {
    background: #2196f3;
    color: #fff;
    border: 1px solid #2196f3;
    border-bottom: none; }

.btn-tab-active {
  /*
    background: $md-blue-grey-50;
    color: $md-blue-grey-500;
    border: 1px solid $md-blue-grey-100;
    */
  background: #2196f3;
  color: #fff;
  border: 1px solid #2196f3;
  border-bottom: none; }

.btn-tab-active::before {
  content: "\f0d7";
  font-family: 'FontAwesome';
  display: inline-block;
  width: 1rem;
  color: #2196f3;
  font-size: 1.3em;
  position: absolute;
  top: 21px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto; }
