/* Font-size */

.fs-6-5 {
    font-size: 6.5rem !important;
} 

.fs-6 {
    font-size: 6rem !important;
} 

.fs-5-5 {
    font-size: 5.5rem !important;
} 

.fs-5 {
    font-size: 5rem !important;
} 

.fs-4-5 {
    font-size: 4.5rem !important;
} 

.fs-4 {
    font-size: 4rem !important;
} 

.fs-3-5 {
    font-size: 3.5rem !important;
} 

.fs-3 {
    font-size: 3rem !important;
} 

.fs-2-5 {
    font-size: 2.5rem !important;
} 

.fs-2 {
    font-size: 2rem !important;
}

.fs-1-9 {
    font-size: 1.9rem !important;
}

.fs-1-8 {
    font-size: 1.8rem !important;
}

.fs-1-7 {
    font-size: 1.7rem !important;
}

.fs-1-6 {
    font-size: 1.6rem !important;
}

.fs-1-5 {
    font-size: 1.5rem !important;
}

.fs-1-4 {
    font-size: 1.4rem !important;
} 

.fs-1-3 {
    font-size: 1.3rem !important;
}

.fs-1-25 {
    font-size: 1.25rem !important;
} 

.fs-1-2 {
    font-size: 1.2rem !important;
}

.fs-1-15 {
    font-size: 1.15rem !important;
}

.fs-1-1 {
    font-size: 1.1rem !important;
}

.fs-1-05 {
    font-size: 1.05rem !important;
}

.fs-1 {
    font-size: 1rem !important;
}

.fs-0-95 {
    font-size: 0.95rem !important;
}

.fs-0-9 {
    font-size: 0.9rem !important;
}

.fs-0-85 {
    font-size: 0.85rem !important;
}

.fs-0-8 {
    font-size: 0.8rem !important;
}

.fs-0-75 {
    font-size: 0.75rem !important;
}

.fs-0-7 {
    font-size: 0.7rem !important;
}