@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@{ 
    Int32 i = 0;
}

<div class="card-actions">
    <ul>
        <li><a href="#" class="handle"><i class="fa fa-bars"></i></a></li>
        @*<li><a href="#collapse_@i" class="handle" data-toggle="collapse_@i" aria-expanded="false" aria-controls="collapse"><i class="fa fa-angle-down"></i></a></li>*@
    </ul>
</div>