@model MenuFooterLibrary.MenuFooterViewModel

<div class="container-fluid">
    <div class="footer">
        <div class="footer-legend">
            <img src="~/images/logo-gaolos-texto-blanco-2017.svg" alt="Gaolos Global Project" class="logo mr-2" /> <span class="fw-5">@ViewData["labelcopyright"]</span>
        </div>
        @*
        <div class="footer-language">
            @await Component.InvokeAsync(nameof(IdiomasLibrary.IdiomasComponent))
        </div>
        *@
    </div>
</div>
